{% extends "layout.html" %}
  
{% block title %}Contribution{% endblock %}
{% block lead %}Make a useful contribution for future iGEM teams. Use this page to document that contribution.{% endblock %}

{% block page_content %}

<div id="container2"></div>
      </div>
      
<div class="row mt-4">
  <div class="col">
    <div class="bd-callout bd-callout-info">
      <h4>Bronze Medal Criterion #4</h4>
      <p>Make a useful contribution for future iGEM teams. Use this page to document that contribution.<p>
      <p>If you are making a contribution by adding information to an existing Part or creating a new Part, you must document your contribution on the Part's Main Page on the <a href="http://parts.igem.org/Main_Page">Registry</a> for your team to be eligible for this criteria. You can use this page to link to that part and include additional information about your contribution.</p>
      <hr>
      <p>Please see the <a href="https://competition.igem.org/judging/medals">2023 Medals Page</a> for more information.</p>
    </div>
  </div>
</div>
<script>
  anychart.onDocumentReady(function () {
    anychart.data.loadJsonFile('./education.json',
      function (data) {

        // create a data tree from the dataset
        var dataTree = anychart.data.tree(data);

        // create a sunburst chart
        var chart = anychart.sunburst(dataTree);

        // set the calculation mode
        chart.calculationMode('parent-independent');

        // set the ascending sort order
        chart.sort('asc');

        // set the chart title
        chart.title("Our Education Plan");

        // enable HTML in labels
        chart.labels().useHtml(true);
        // customize the format of the sunburst chart labels
        chart
          .level(1)
          .labels()
          .fontFamily("Verdana, sans-serif")
          
        chart
          .level(0)
          .labels()
          .fontFamily("Verdana, sans-serif")
          .fontWeight(500)
        
        // enable HTML in tooltips
        chart.tooltip().useHtml(true);
        // customize the format of the sunburst chart tooltip
        chart
          .tooltip()
          .fontFamily("Verdana, sans-serif")
        
        // set the chart container element id
        chart.container('container2');

        // initiate chart drawing
        chart.draw();

      });
  });
</script>


{% endblock %}
