{% extends "layout.html" %}
  
{% block title %}A Depression Diagnostics Kit{% endblock %}
{% block lead %}Blood-Biomarker based diagnostics kit{% endblock %}

{% block page_content %}

<tag>

</tag>

<div class="cointainer my-4 mx-4">
  <div class="row">

    <div class="col-3">
      <ul class=" fixed-content" id="sidenav" >
        <ul class="navbar-links menuprop">
          <li class="navbar-dropdown list-group-item list-group-item-action">
            <a href="#head1" style="color: black;">Background</a>
          </li>
          <li class="navbar-dropdown list-group-item list-group-item-action">
            <a href="#head2" style="color: black;">Inspiration</a>
          </li>
          <li class="navbar-dropdown list-group-item list-group-item-action">
            <a href="#head3" style="color: black;">The start of OASYS</a>
          </li>
          <li class="navbar-dropdown list-group-item list-group-item-action">
            <a href="#head4" style="color: black;">So, what is OASYS?</a>
          </li>
          <li class="navbar-dropdown list-group-item list-group-item-action">
            <a href="#head5" style="color: black;">Is this actually possible?</a>
          </li>
          <li class="navbar-dropdown list-group-item list-group-item-action">
            <a href="#head6" style="color: black;">OASYS can help!</a>
          </li>
          <li class="navbar-dropdown list-group-item list-group-item-action">
            <a href="#head7" style="color: black;">OASYS Components</a>
          <li class="navbar-dropdown list-group-item list-group-item-action">
            <a href="#subhead1" style="color: black;">The Biomarkers</a>
          </li>
          <li class="navbar-dropdown list-group-item list-group-item-action">
            <a href="#subhead2" style="color: black;">The Quantifiers</a>
          </li>
          <li class="navbar-dropdown list-group-item list-group-item-action">
            <a href="#head8" style="color: black;">How OASYS works</a>
          </li>
          <li class="navbar-dropdown list-group-item list-group-item-action">
            <a href="#subhead3" style="color: black;">Microfluidic Chip</a>
          </li>
          <li class="navbar-dropdown list-group-item list-group-item-action">
            <a href="#subhead4" style="color: black;">Detection System</a>
          </li>
          <li class="navbar-dropdown list-group-item list-group-item-action">
            <a href="#head9" style="color: black;">Conclusion</a>
          </li>

          <!--<li class="navbar-dropdown list-group-item list-group-item-action">
            <a href="#subsubhead01" style="color: black;">- - miRNAs</a>
          </li>
          <li class="navbar-dropdown list-group-item list-group-item-action">
            <a href="#subsubhead02" style="color: black;">- - Neurotransmitters - Serotonin</a>
          </li>
          <li class="navbar-dropdown list-group-item list-group-item-action">
            <a href="#subsubhead03" style="color: black;">- - Hormone - Cortisol</a>
          </li>
          <li class="navbar-dropdown list-group-item list-group-item-action">
            <a href="#subsubhead04" style="color: black;">- - Protein - Gsα subunit</a>
          </li>-->
        
        <!--  <li class="navbar-dropdown list-group-item list-group-item-action">
            <a href="#subsubhead11" style="color: black;">- - Magnetic Nanoprobes</a>
          </li>
          <li class="navbar-dropdown list-group-item list-group-item-action">
            <a href="#subsubhead12" style="color: black;">- - FRET Aptamers</a>
          </li>-->
          
        
         <!-- <li class="navbar-dropdown list-group-item list-group-item-action">
            <a href="#subhead21" style="color: black;">- Microfluidic Chips</a>
          </li>-->
          

       <!--   <li class="navbar-dropdown list-group-item list-group-item-action">
            <a href="#subhead31" style="color: black;">- - Publishing</a>
          </li>
          <li class="navbar-dropdown list-group-item list-group-item-action">
            <a href="#subhead32" style="color: black;">- - Enterpreunership</a>
          </li>
          <li class="navbar-dropdown list-group-item list-group-item-action">
            <a href="#subhead33" style="color: black;">- - Launching the app</a>
          </li>-->
          
          <li class="navbar-dropdown list-group-item list-group-item-action">
            <a href="#head10" style="color: black;">References</a>
          </li>

        </ul>
      </ul>
    </div>

    <div data-bs-target="sidenav" data-bs-spy="scroll" class="col-9" style="padding-top: 20px">
      <div class="container a-href-fix" data-bs-spy="scroll" data-bs-offset="-200px">

        <!--intro-->
        <hr class="line">
        <h1 id="head1" style="color: #002147">Background</h1>
        <hr class="line">
        <br>
        <p>
          
          Major depressive disorder (MDD), or clinical depression, 
          is a complex and heterogeneous clinical syndrome characterised 
          by persistently depressed moods, loss of interest in daily activities 
          and physical symptoms such as appetite changes, sleep pattern changes, 
          and fatigue according to the widely used DSM-5-TR criteria <sup><a href = "#ref1">[1]</a></sup>. 
          It currently affects at least 280 million people worldwide <sup><a href = "#ref2">[2]</a></sup>. 
          , and according to the WHO, it is predicted to be the leading 
          cause of disease burden worldwide by 2030 <sup><a href = "#ref3">[3]</a></sup>. 
          </p>
          <p>

          Clinical depression is a very prominent disease. 
          In our state, Kerala, alone, the prevalence of mental disorders was reported to be 12.43% in 2017. 
          The number of individuals with mental health illnesses in the state increased from 
          272 per 100,000 to 400 people per 100,000 from 2002 to 2018 <sup><a href = "#ref4">[4]</a></sup>. 
           The COVID-19 pandemic has profoundly impacted mental health in Kerala and globally. 
           Isolation, grief, economic challenges, and uncertainties related to the pandemic have 
           increased the risk of depression and exacerbated existing mental health conditions. 
           A recent study found that during the COVID-19 pandemic in Kerala, depression (75.2%) 
           and anxiety (69.4%) were significant problems faced by people under home quarantine <sup><a href = "#ref5">[5]</a></sup>. 
           The state experienced a rapid rise in mental health morbidity in recent years. 
          </p>

          <p>
           Mental health and psychological care support was revealed to be vitiated by a scarcity of 
           resources and inadequate information. Following the pandemic, the global prevalence of anxiety 
           and depression increased by a massive 25%, according to a scientific brief released by the 
           World Health Organization (WHO) <sup><a href = "#ref6">[6]</a></sup>. 
           Millions of people with depression suffer because they do not have access to professional 
           help that starts with a diagnosis, a trend observed in our locality <sup><a href = "#ref7">[7]</a></sup>. 
           For a disorder that is so common, even in people around us, it is heavily misunderstood.
          </p>
          <p>
            <b>Depression is as much a global issue as it is a local issue. 
            One that is becoming increasingly important to address.</b>
          </p>

         
          <figure>
            <img src = "https://static.igem.wiki/teams/4693/wiki/assets/info1.png" class= "img-fluid" > 
            <i><span style ="font-size: x-small;"><figcaption>Figure 1 : Trends in mental health morbidity in Kerala, India and around the world from 2002 - 2018 Joseph, J., Hari Sankar, D., & Nambiar, D. (2021). 
              The burden of mental health illnesses in Kerala: a secondary analysis of reported data from 2002 to 2018. 
              <a href = "https://doi.org/10.1186/s12889-021-12289-0">https://doi.org/10.1186/s12889-021-12289-0</a></figcaption></span></i>
            </figure>
           <a id="head2"></a>
        </p>
        <br>
        <hr class="line">
        <h1 id="head2" style="color: #002147">Inspiration</h1>
        <hr class="line">
        <br>
        <p>

          Early in the ideation process, our team ran into multiple news stories 
          about the increasing suicide rates in higher educational 
          institutions across India <sup><a href = "#ref8">[8]</a></sup> <sup><a href = "#ref9">[9]</a></sup>.
          We learnt how depression is one of the leading causes of suicide in India 
          and across the world <sup><a href = "#ref10">[10]</a></sup>,
          especially in recent years. The growing concern about mental health issues amongst 
          students strengthened our desire to work on clinical depression. 
        </p>
        <p>
          After a remembrance ceremony conducted by the Student Welfare Council 
          of IISER TVM following the loss of a student to suicide, one of our team members opened up 
          about their struggle with depression. Their experience opened our eyes to the silent battle 
          fought by people suffering from MDD—stories that often go unheard. 
          They recounted their multiple inconclusive doctor visits and difficulty receiving a proper diagnosis. 
          Learning about their experiences helped us understand the process of diagnosing depression 
          and its shortcomings better.
        </p>
        <p>
          We realised the need for an objective tool considering the biological aspects of clinical depression. 
          As we started our work, we looked to other iGEM teams for inspiration. 
          We found that Team Moscow 2021 (miPression) worked extensively on a diagnostic kit to 
          distinguish depression from other mental disorders. Their project validated our initial ideas 
          for a diagnostic kit and prompted us to dig deeper into the problem, 
          helping shape our project design <sup><a href = "#ref11">[11]</a></sup>

        </p>
        <figure>
        <img src = "https://static.igem.wiki/teams/4693/wiki/assets/info2.png" class="img-fluid">
        <i><span style ="font-size: x-small;"><figcaption>Figure 2 : Why depresssion diagnosis is a necessity - Joseph, J., Hari Sankar, D., & Nambiar, D. (2021). 
          The burden of mental health illnesses in Kerala: a secondary analysis of reported data from 2002 to 2018. 
          
          <a href = "https://doi.org/10.1186/s12889-021-12289-0">https://doi.org/10.1186/s12889-021-12289-0</a>and WHO burden of disease study</figcaption></span></i>
        
        </figure> 

           <a id="head2"></a>
        </p>
        <br>
        <hr class="line">
        <h1 id="head3" style="color: #002147">The start of OASYS</h1>
        <hr class="line">
        <br>
        <figure>
          
        <img src = "https://static.igem.wiki/teams/4693/wiki/assets/info3.png" class="img-fluid">
        <i><span style ="font-size: x-small;"><figcaption>Figure 3 : Number of individuals with mental health illnesses in Kerala, India.
          - Joseph, J., Hari Sankar, D., & Nambiar, D. (2021). 
          The burden of mental health illnesses in Kerala: a secondary analysis of reported data from 2002 to 2018. 
          <a href = "https://doi.org/10.1186/s12889-021-12289-0">https://doi.org/10.1186/s12889-021-12289-0</a></figcaption></span></i>
        </figure>
        <p>

          We consulted three professional psychiatrists from the Government Medical College (GMC), 
          Thiruvananthapuram, Kerala, India, to study the scale of the issue. 
          We learnt about the current methods of diagnosis of MDD, which mainly consist of 
          self-report questionnaires, which consist of varied questions designed to screen the patient for MDD. 
          The questionnaire is usually followed by clinical interviews with a Mental Health Professional (MHP), 
          who often relies on symptoms reported by the patient or the people around them. 
          Non-verbal cues such as body language and voice modulation, along with the questionnaire results, 
          are assessed, and the diagnosis for MDD is made based on 
          the DSM-5-TR criteria <sup><a href = "#ref12">[12]</a></sup>
          <p>
            Psychiatrists from GMC told us about how often they meet patients who confess to 
            trying to manipulate questionnaires for fear of being diagnosed with depression. 
            They also spoke about the stigma associated with mental illnesses, particularly depression. 
            We learned that the current methods could be subjective and prone to variability, 
            and this could lead to misdiagnosis. Patients and the people around them are often ignorant of 
            depression and other mental illnesses as diseases and are hesitant to accept their diagnosis. 
          </p>
          <p>
            We realized there is a need for an objective and sensitive point-of-care 
            diagnostic aid for clinical depression. And that’s what we set out to build - OASYS. 
            Through OASYS, we hope to offer an objective aid to simplify the process of MDD diagnosis by 
            reducing the dependence on self-reported symptoms and making it less time and effort-intensive 
            for the patients <sup><a href = "#ref13">[13]</a></sup>. 
          </p>
           <a id="head3"></a>
        </p>
        <br>

        <hr class="line">
        <h1 id="head4" style="color: #002147">So, what is OASYS?</h1>
        <hr class="line">
        <br>
        <p>

          <a id="head4"></a>

          OASYS is a novel and objective FRET (Förster or fluorescence resonance energy transfer) -based 
          microfluidic device that can quantify and analyze biomarkers such as neurotransmitters, 
          microRNAs, hormones, and proteins in human peripheral blood serum. 
          We use this device as an objective aid to diagnose Major Depressive Disorder (MDD).
          </p>
          <p>
            
          We have chosen five putative blood biomarkers correlated to MDD - the neurotransmitter serotonin, 
          the hormone cortisol, a novel protein - Gs alpha, and two microRNAs - 124 & 132, 
          which were chosen together through a Bayesian analysis. We have developed 
          two quantification methods - Aptasensors for serotonin, cortisol and the Gs alpha protein, 
          and Magnetic Nanoprobes, used for the microRNAs, that work on the principles of FRET, producing 
          fluorescence whose readouts can relate to the blood biomarker levels. 
          </p>
          <p>
            These quantification systems are incorporated into a microfluidic chip 
            that can take blood samples as input and run the assays simultaneously. 
            We built a hardware system with fluorometric sensors that can detect the 
            fluorescence produced by the chip to analyse and estimate the biomarker concentrations. 
          </p>
          <p>
            OASYS is more than just a diagnostic aid; it can also be a powerful research tool. 
            Tailored to be specific to any biomarker, our tool simplifies data collection of 
            biomarkers from blood samples for population studies. It can also be used to monitor the efficacy 
            of antidepressant treatment in patients by analysing fluctuating blood-biomarker levels. 
            It could assist clinicians in personalising the drug combinations and dosage, 
            catering to the individual's needs and paving the way for personalized medicine. 
          </p>
         
         
           <!--We have also drawn inspiration from multiple previous iGEM teams - 
           <ol>
            <li style="font-size: medium;">Team Moscow 2021 (miPression) - They worked extensively on a 
              diagnostic kit to distinguish depression from other mental disorders. 
              Their project made us realise the need for a diagnostic kit for 
              depression and inspired us to select biomarkers such as microRNAs.<sup><a href = "#ref15">[15]</a></sup>
            </li>
            <li style="font-size: medium;">Team NUDT China 2016 developed a novel blood microRNA handy detection 
              system with CRISPR which inspired us to look into more methods of 
              quantifying microRNAs.<sup><a href = "#ref16">[16]</a></sup>
            </li>
            <li style="font-size: medium;">iGEM IISER Tirupati 2022 (Aptaseles) - Their work involved 
              designing an aptamer based diagnostic kit for 
              PCOS ( Polycystic ovary syndrome).  
              Their project inspired us to look into aptamers as 
              a quantifying tool.<sup><a href = "#ref17">[17]</a></sup>
            </li>
            <li style="font-size: medium;">BostonU HW Team 2017 (MARS) introduced microfluidics in synthetic biology research. 
              And the BostonU HW Team 2016 (Neptune) designed an end-to-end design suite for 
              continuous-flow microfluidics devices. Their project details inspired us to 
              incorporate microfluidics into the kit design.<sup><a href = "#ref18">[18]</a></sup>
              <sup><a href = "#ref19">[19]</a></sup>
            </li>
            
           </ol>
           <p>
            this paragraph is dummy.
            <img src = "https://static.igem.wiki/teams/4693/wiki/assets/aptamer.png">
           </p>
        </p>-->

        <br>
        <hr class="line">
        <h1 id="head5" style="color: #002147">Is this actually possible?</h1>
        <hr class="line">
        <br>
        <p>

          <a id="head5"></a>
          Diagnosing a disorder such as clinical depression is highly challenging for multiple reasons. 
          It is a very heterogeneous disease, showing up differently in different people. 
          The causes for MDD can vary immensely, such as anxiety/trauma-induced depression, 
          genetic disposition, and other biological factors such as vitamin D deficiency and bacterial infections. 
          Some objective tests, such as the complete blood account with a comprehensive metabolic panel, 
          are done to rule out any organic or medical causes of MDD <sup><a href = "#ref12">[12]</a></sup>. 

          </p>
          <p>
            
          For OASYS to function as a diagnostic tool for MDD, we need to know the exact "cut-off" 
          or threshold values for each biomarker level beyond which (either above or below) 
          the patient can be considered at high risk for MDD. This requires collecting and 
          analysing population data to find a suitable threshold. 

          </p>
          <p>
            Talking to multiple psychologists, psychiatrists, researchers and mental health professionals, 
            we realised that currently, there are various problems with the reliability of the biomarkers: 
          </p>
          <ol>
            <li style="font-size: medium;">The exact effect each biomarker has on MDD is unknown. 
              Biomarkers are not causative, only correlated to MDD. Building the relationship between 
              absolute biomarker levels and the severity of a mood and symptom-based disorder 
              like clinical depression is complex <sup><a href = "#ref14">[14]</a></sup>. 
            </li>
            <li style="font-size: medium;">There is a severe lack of data on biomarkers related to 
              mental illnesses, especially for MDD <sup><a href = "#ref15">[15]</a></sup>. 
            </li>
            <li style="font-size: medium;">We learnt that so far, all studies have been based on 
              clinical trials with small sample sizes. Additionally, their relevance is restricted 
              only to a small population; hence, we cannot make generalised conclusions about 
              how our chosen biomarkers co-relate to MDD. 
            </li>
            <li style="font-size: medium;">Progress on biomarker research for MDD has been slow, 
              and as it stands today, biomarkers available in the literature aren't 
              reliable enough to be used for 
              diagnosing depression yet <sup><a href = "#ref15">[15]</a></sup>. 
            </li>
          </ol>
          <p>
            As Dr. Varsha Singh, a cognitive psychologist from 
            IIT Delhi, says, <b>"Biomarker research on mental illnesses needs 
              to catch up with research on other diseases."</b>
          </p>
          <p>
            Considering the inputs given to us by professionals from 
            various fields and serving as an essential milestone in our project journey, 
            we realised that our project should change from focusing on biomarkers to 
            building technology that can analyse fluctuating biomarker levels and be put to varied applications. 
          </p>
        <br>

        <hr class="line">
        <h1 id="head6" style="color: #002147">OASYS can help!</h1>
        <hr class="line">
        <br>
        <p>
          
          <a id="head6"></a>

          Despite the prevalence of mental illness, progress in developing accurate 
          and objective diagnostics has been lagging. Some laboratory tests, 
          such as the dexamethasone suppression test (DST), are available to aid in 
          diagnosing depression; however, they are not viable 
          due to high costs or slow results <sup><a href = "#ref16">[16]</a></sup>.
          </p>
          <p>
            <b>We realised that single biomarker tests can’t accurately diagnose a 
            disorder as heterogeneous as MDD and that there is a need for a cheap, 
            user-friendly and accessible quantitative test. </b>
          </p>
          <p>
          OASYS is a novel microfluidic device and sensor-based tool that 
          simultaneously detects various biomarkers through two quantification 
          systems and produces fluorescent readouts that can further be analysed for 
          biomarker concentrations. To seamlessly integrate this tool into real-world 
          clinical settings, complementing currently available diagnosis methods, OASYS was 
          designed to be <b>compact, modular, cheap, accessible and easy to use. </b>  
          </p>
          <p>
            It can be used for various applications in different settings 
            and even as a research tool to help it become a diagnostic aid. 
          </p>
          <ol>
            <li style="font-size: medium;"><b>Research tool</b> - OASYS can help build the data necessary 
              for it to become a proper diagnostic tool. Data collection through clinical 
              trials and population studies can be made more accessible with the help of OASYS. 
              Analysis of these could reveal the potential of each biomolecule as a 
              biomarker for MDD, and this knowledge can help advance our understanding of the 
              aetiology of clinical depression. 
            </li>
            <li style="font-size: medium;"><b>Diagnostic tool </b>- Once we have proven the validity of 
              the chosen biomarkers and figured out the threshold levels for each of them 
              through multiple clinical trials, OASYS can be integrated into current methods 
              of MDD diagnosis as an effective objective aid. 
            </li>
            <li style="font-size: medium;"><b>Prognostic tool</b> - Knowing the biomarker makeup of 
              a person diagnosed with MDD could help clinicians choose the right treatment strategy 
              for the patient. Predicting the necessary treatment could reduce the dependence 
              on trial-and-error responses and pave the way for personalised medicine.
            </li>
            <li style="font-size: medium;"><b>Antidepressant tracking</b> - Once antidepressant 
              treatment is prescribed for an MDD patient, its response and effectiveness 
              can be analysed through biomarker level changes in the blood, looking at 
              the biological changes instead of relying on the time-intensive response in behavioural changes. 
            </li>
          </ol>
          <p>
            Find out more about the uses of OASYS on our Implementation page!
          </p>
        </p>
        <br>

        <hr class="line">
        <h1 id="head7" style="color: #002147">OASYS Components</h1>
        <hr class="line">
        <br>
        <a id="head7"></a>
        <h2 id = "subhead1">The Biomarkers</h2>
        <a id="subhead1"></a>
        <h3>Neurotransmitter - Serotonin</h3>
        <a id="subsubhead02"></a>  
        <p>
          Neurotransmitters are endogenous chemical messengers that help neurons 
          throughout the body communicate with each other. Neurotransmitters amplify, 
          transmit, and convert signals in cells, and through chemical synaptic transmission, 
          they help with various brain functions.<sup><a href = "#ref17">[19]</a></sup> 
          We use the neurotransmitter serotonin (5-hydroxytryptamine) as the first biomarker in our kit. 
          <u>Serotonin levels in the blood have been shown to decrease</u> in patients with depression. <sup><a href = "#ref18">[18]</a></sup> 

        </p>

        
        <h3>Hormone - Cortisol</h3>
        <a id="subsubhead03"></a>
        <p>
          The fourth biomarker is cortisol, widely known as the body's stress hormone. 
          Hormones are chemical messengers found in multicellular organisms that affect 
          psychology and behaviour. Cortisol is a steroid hormone in the glucocorticoid 
          class that plays an important role in stress response. Studies indicate that 
          <u>higher cortisol levels in blood</u> are well correlated with the occurrence and severity of MDD.
           <sup><a href = "#ref19">[19]</a></sup> 
           <sup><a href = "#ref20">[20]</a></sup>
        </p>
        <h3>Protein - Gsα subunit</h3>
        <a id="subsubhead04"></a>
        <p>
          The GSα protein is the fifth biomarker chosen for our project. 
          G proteins, also known as guanine nucleotide-binding proteins, 
          are proteins that serve as a molecular switch inside cells, 
          transmitting signals from external stimuli to the cell's interior.  
          G-proteins and RGS (Regulators of G protein signalling) proteins 
          are two protein families that are deeply engaged in both the onset 
          of depressed states and the action of antidepressant medications. 
          This novel biomarker was <u>shown to be present in lower concentrations 
          in clinically depressed patients.</u> <sup><a href = "#ref21">[21]</a></sup> 
        </p>
        <h3 id = "subsubhead01">miRNAs -124 & 132</h3>
        <a id="subsubhead01"></a>
        <p>

          MicroRNAs (miRNAs) are small non-coding RNAs. Most miRNAs are transcribed 
          from the DNA sequence into primary miRNAs and then processed into precursor 
          and mature miRNAs. Our project makes use of miRNAs 124 and 132. <u>Multiple 
          studies have observed the upregulation of these miRNAs</u> in clinically 
          depressed patients.<sup><a href = "#ref22">[22]</a></sup><sup><a href = "#ref23">[23]</a></sup> 
          We chose miRNAs as they are well-studied and easily accessible from blood, serum and other body fluids.  
        </p>
          
        </p>
        <br>


        <hr class="line">
        <h1 id="subhead2" style="color: #002147">The Quantifiers</h1>
        <hr class="line">
        <br>
        <a id="subhead2"></a>
        <h2 id="subsubhead11">Aptasensors</h2>
        <a id="subsubhead11"></a>
        <figure>
        <img src = "https://static.igem.wiki/teams/4693/wiki/assets/nanoparticles.png" class="img-fluid">    
        <i><span style ="font-size: x-small;"><figcaption>Figure 4 : Magnetic Nanoprobes - Tian, H., Yuan, C., Liu, Y. et al. 
          A novel quantification platform for point-of-care testing of circulating MicroRNAs based on allosteric spherical nanoprobe. 
          J Nanobiotechnol 18, 158 (2020). <a href = "https://doi.org/10.1186/s12951-020-00717-z">
            https://doi.org/10.1186/s12951-020-00717-z</a></figcaption></span></i>
        </figure>
        <p>
          Aptamers are artificially synthesised single-stranded DNA 
          or RNA sequences that can easily change conformations, allowing them to bind to 
          specific targets with high affinity. They, hence, can be used in biosensing for 
          clinical diagnostics. FRET is a non-radiative energy transfer process that occurs 
          over small-scale separations (usually in nanometers) between an emitter (donor) and an 
          absorber molecule (acceptor), often called a ‘FRET’ pair. We have chosen a fluorophore 
          and a quencher as the donor-acceptor FRET pair. 
          </p>
          <p>
          For our project, we make the use of Aptasensors or FRET aptamers. 
          The FRET aptamer contains a fluorophore, and the cDNA has a 
          quencher attached to it so that while the cDNA is bound, the fluorophores 
          transfer energy to the quencher, and fluorescence is not observed. However, in the presence 
          of the target protein, the FRET aptamers bind to the target protein, displacing the cDNA. 
          With no quencher in the vicinity, the fluorophore will give a detectable fluorescent signal. 
          These FRET Aptamers are used to quantify the neurotransmitter 
          serotonin, the hormone cortisol, and the GSα protein<a href = "#ref24">[24]</a></sup>. 
          </p>
        </p>  
        <h2 id = "subsubhead12">Magnetic Nanoprobes</h2>
          <a id="subsubhead12"></a> 
          <figure>
          <img src = "https://static.igem.wiki/teams/4693/wiki/assets/aptamer.png" class = "img-fluid" style="align-items: center;">    
          <i><span style ="font-size: x-small;"><figcaption>Figure 5 : FRET Aptamer - Pehlivan, Z. S., Torabfam, M., Kurt, H., Ow-Yang, C., Hildebrandt, N., & Yüce, M. (2019, July 24). 
            Aptamer and nanomaterial based FRET biosensors: a review on recent advances (2014–2019) - Microchimica Acta. SpringerLink. 
           <!-- <a href = "https://doi.org/10.1007/s00604-019-3659-3">
              https://doi.org/10.1007/s00604-019-3659-3
            </a>--> </figcaption></span></i>
          </figure>
          <p>
            Nanoprobes are small, nano-sized devices that interact with a biomolecule 
            and can be used for diagnostic purposes. Our nanoprobe comprises a magnetic 
            nanoparticle with attached molecular beacons that work on the principle of FRET 
            and produce fluorescence through a fluorophore-quencher pair. Our molecular beacons 
            are single-stranded DNA structures with three prominent parts: one complementary 
            to the target miRNA, one attached to a fluorophore, and one attached to a quencher.
          </p>
          <p>
            When inert, the nanoprobe exists in a hairpin structure, and the 
            probe holds the quencher near the fluorophore, thus emitting no signal. 
            When the target miRNA binds to the probe, the target-probe hybridisation 
            can open the hairpin, forming an active "Y" structure. This active structure 
            separates the fluorophore and the quencher, emitting fluorescence. We will further 
            enhance the detection of the miRNAs present in lower concentrations in the blood by attaching 
            the molecular beacons to magnetic nanoparticles to focus 
            fluorescence on a smaller area <a href = "#ref25">[25]</a></sup>.
 
          </p>
          
          <hr class="line">
          <h1 id="head8" style="color: #002147">How OASYS Works</h1>
          <hr class="line">
          <br>
          
          <a id="head8"></a>
          <h2>Microfluidic Chip</h2>
          
          <a id="subhead21"></a>
          <p>
  
            We are designing a microfluidic chip that uses human blood samples as the input 
            and incorporates all the quantification systems for the biomarkers. 
            It is made of PolyDiMethylSiloxane (PDMS), a silicone polymer. 
            <sup><a href = "#ref32">[32]</a></sup>
 
            </p><br>
            <figure>
            <img src = "https://static.igem.wiki/teams/4693/wiki/assets/microchip.png" class="img-fluid">    
            <i><span style ="font-size: x-small;"><figcaption>Figure 6 : Original microfluidics chip design using 3d&micro f software by CIDAR Labs</figcaption></span></i>
            </figure>
            <br><br>

            <p>
              The design involves five channels, one for each biomarker. The blood sample is introduced to the main port, 
              which is equally divided into all the channels through valves and pumps. 
              Each channel has different chambers, called mixers, that contain the quantifiers:
              magnetic nanoprobes for miRNAs and FRET aptamers for serotonin, cortisol, and Gsα. 
              These mixers are chosen based on the specific conditions required for the quantifier 
              to attach to the biomarkers. Once the quantifiers bind to the biomarkers, 
              we flow them into transparent chambers where fluorimetric sensors can sense 
              the fluorescence and give us a measurement of the biomarkers.<sup><a href = "#ref33">[33]</a></sup>
            </p>

            <h3>Detection System</h3>
            
            <a id="subhead22"></a>
            <p>
              OASYS comes with a fluorescence detection system along with the microfluidic chip. 
              The detection system consists of a 3D-printed box equipped with an 
              LCD screen, an Arduino UNO setup, and the necessary accessories. 
            </p>
            <p>
              When the microfluidic chip is inserted into the device, the 
              internal blue LED excites each of the five samples, and the fluorescence 
              emitted is detected by a different photodarlington sensor. The intensity of 
              fluorescence measured is then converted into the biomarker concentration levels 
              and displayed on the LCD screen, with all data readings being managed by the 
              Arduino UNO microcontroller. Learn more about how the detection system works here!
            </p>
          </p>
          <br>
          <hr class="line">
          <h1 id="head9" style="color: #002147">Conclusion</h1>
          <a id="head8"></a>
          <hr class="line">
          <br>
          <p>
  
            Our project, OASYS, consists of a microfluidic device with 
            two different fluorescence-based quantification systems to measure 
            the levels of five blood biomarkers correlated to MDD. It comes with a hardware 
            system that can detect the fluorescent readouts and relate them to the biomarker 
            levels in the blood. OASYS is built to be used as a diagnostic aid for clinical 
            depression, with its applications extending to prognosis, antidepressant tracking, clinical drug 
            trials and advancing scientific research. Through our project, we recognise the importance 
            of science and synthetic biology communication and the need for mental health awareness. 
            Check out below our efforts to spread the importance of mental health and science communication: 
          </p>

        <br>
        <hr class="line">
        <h1 id="head10" style="color: #002147">References</h1>
        <hr class="line">
        <br>
        <ol style ="font-size: smaller;">
          <li id = "ref1">
            <a id = "ref1"></a>
            Tolentino, J. C., & Schmidt, S. L. (2018). DSM-5 Criteria and 
            Depression Severity: Implications for Clinical Practice. Frontiers in psychiatry, 9, 450. 
            https://doi.org/10.3389/fpsyt.2018.00450
            (1 December 2011)- World Health Organisation. <a href = "https://doi.org/10.3389%2Ffpsyt.2018.00450">
            </a>
          </li>

          <li>
            <a id = "ref2"></a>

            https://www.who.int/news-room/fact-sheets/detail/depression
             <a href = "https://www.who.int/news-room/fact-sheets/detail/depression">
              
             
            </a>
            

          </li>  
          <li>
            <a id = "ref3"></a>
            Lieblich, S. M., Castle, D. J., Pantelis, C., Hopwood, M., Young, A. H., & Everall, I. P. (2015, November 17).
             High heterogeneity and low reliability in the diagnosis of major depression will impair the development of new drugs. 
             PubMed Central (PMC).
             <a href = "https://doi.org/10.1192/bjpo.bp.115.000786">
              https://doi.org/10.1192/bjpo.bp.115.000786
             </a>
             

          </li>   
          <li>
            <a id = "ref4"></a>
            Student suicides in India at a five-year high, majority from Maharashtra: NCRB data. (2022, August 31) . The Indian Express. 
            <a href = "https://indianexpress.com/article/education/student-suicides-in-india-five-year-high-ncrb-data-8122116/">
              https://indianexpress.com/article/education/student-suicides-in-india-five-year-high-ncrb-data-8122116/
            </a>
            

          </li>     
          <li>
            <a id = "ref5"></a>
            Campus deaths: Editorial on student suicides in premier institutions. (2023, June 24). 
            Op-ed | Campus Deaths: Editorial on Student Suicides in Premier Institutions - Telegraph India.
            <a href = "https://www.telegraphindia.com/opinion/campus-deaths-editorial-on-student-suicides-in-premier-institutions/cid/1924166">
              https://www.telegraphindia.com/opinion/campus-deaths-editorial-on-student-suicides-in-premier-institutions/cid/1924166
            </a>
            

          </li>      
          <li>
            <a id = "ref6"></a>
            Depression. (n.d.). Depression.
            <a href = "https://www.who.int/india/health-topics/depression">
              https://www.who.int/india/health-topics/depression
            </a>
            

          </li>      
          <li>
            <a id = "ref7"></a>
            Mental Health and COVID-19: Early evidence of the pandemic’s impact: Scientific brief, 2 March 2022. (2022, March 2). 
            Mental Health and COVID-19: Early Evidence of the Pandemic’s Impact: Scientific Brief, 2 March 2022. 
            <a href = "https://www.who.int/publications/i/item/WHO-2019-nCoV-Sci_Brief-Mental_health-2022.1">
              https://www.who.int/publications/i/item/WHO-2019-nCoV-Sci_Brief-Mental_health-2022.1
            </a>
            

          </li>      
          <li>
            <a id = "ref8"></a>
            Joseph, J., Sankar, D. H., & Nambiar, D. (2021, December 11). 
            The burden of mental health illnesses in Kerala: a secondary analysis of reported data from 2002 to 2018 - BMC Public Health. 
            BioMed Central. 
            <a href = "https://doi.org/10.1186/s12889-021-12289-0">
              https://doi.org/10.1186/s12889-021-12289-0
            </a>
            

          </li>      
          <li>
            <a id = "ref9"></a>
            Ministry of Health and Family Welfare, Government of India, National Institute of Mental Health and Neurosciences (IMHANS) Banglore, & Institute of Mental Health and Neuro Sciences (IMHANS), Kozhikode.
           <a href =" http://indianmhs.nimhans.ac.in/Docs/statereports/Kerala-NMHS-Report.pdf">
            http://indianmhs.nimhans.ac.in/Docs/statereports/Kerala-NMHS-Report.pdf
            </a>
            

          </li>
         
          <li>
            <a id = "ref10"></a>
            National Crime Records Bureau, ministry of home affairs. (n.d.). Accidental Deaths and Suicides in India, 2021. In ncrb.gov.in. Retrieved June 26, 2023, from
            <a href ="https://ncrb.gov.in/sites/default/files/ADSI-2021/ADSI_2021_FULL_REPORT.pdf">
            https://ncrb.gov.in/sites/default/files/ADSI-2021/ADSI_2021_FULL_REPORT.pdf
            </a>
            

          </li>
          <li>
            <a id = "ref11"></a>
            Joseph, J., Hari Sankar, D. & Nambiar, D. The burden of mental health illnesses in Kerala: a secondary analysis of reported data from 2002 to 2018. BMC Public Health 21, 2264 (2021).
            <a href = "https://doi.org/10.1186/s12889-021-12289-0">
              https://doi.org/10.1186/s12889-021-12289-0
            </a>
            

          </li>
          <li>
            <a id = "ref12"></a>
            Verma, R. K., Kaur, S., & David, S. R. (2012, November 15). An Instant Diagnosis for Depression by Blood Test. PubMed Central (PMC).
            <a href = "https://doi.org/10.7860/JCDR/2012/4758.2579">
              https://doi.org/10.7860/JCDR/2012/4758.2579
            </a>
            

          </li>
          
          <li>
            <a id = "ref13"></a>
            The dexamethasone suppression test: an overview of its current status in psychiatry. 
            The APA Task Force on Laboratory Tests in Psychiatry. (1987, October). 
            American Journal of Psychiatry, 144(10), 1253–1262.
            <a href = "https://doi.org/10.1176/ajp.144.10.1253">
              https://doi.org/10.1176/ajp.144.10.1253
            </a>
            

          </li>
          <li>
            <a id = "ref14"></a>
            Ditzen, C., Tang, N., Jastorff, A. M., Teplytska, L., Yassouridis, A., Maccarrone, G., Uhr, M., Bronisch, T., Miller, C. A., Holsboer, F., & Turck, C. W. (2011, December 14). 
            Cerebrospinal Fluid Biomarkers for Major Depression Confirm Relevance of Associated Pathophysiology. PubMed Central (PMC).
            <a href = "https://doi.org/10.1038/npp.2011.285">
              https://doi.org/10.1038/npp.2011.285
            </a>
            

          </li>
          
          <li>
            <a id = "ref15"></a>
            Team:Moscow - 2021.Igem.Org.
            <a href = "https://2021.igem.org/Team:Moscow/Description">
              https://2021.igem.org/Team:Moscow/Description
            </a>
            

          </li>
          
          <li>
            <a id = "ref16"></a>
            Team:NUDT_CHINA - 2016.igem.org.
            <a href = "https://2016.igem.org/Team:NUDT_CHINA">
              https://2016.igem.org/Team:NUDT_CHINA
            </a>
            

          </li>
          <li>
            <a id = "ref17"></a>
            Team:iiser-tirupati-india- 2022.igem.wiki.
            <a href = "https://2022.igem.wiki/iiser-tirupati-india/">
              https://2022.igem.wiki/iiser-tirupati-india/
            </a>
            

          </li>
          <li>
            <a id = "ref18"></a>
            Team:BostonU HW - 2017.Igem.Org.
            <a href = "https://2017.igem.org/Team:BostonU_HW">
              https://2017.igem.org/Team:BostonU_HW
            </a>
            

          </li>
          <li>
            <a id = "ref19"></a>
            Team:BostonU HW - 2016.Igem.Org.
            <a href = "https://2016.igem.org/Team:BostonU_HW">
              https://2016.igem.org/Team:BostonU_HW
            </a>
           

          </li>
          <li>
            <a id = "ref20"></a>
            Blood-based biomarkers in Alzheimer disease: Current state of the science and a novel collaborative paradigm for advancing from discovery to clinic.(2016, November 18).
             Blood-based Biomarkers in Alzheimer Disease: Current State of the Science and a Novel Collaborative Paradigm for Advancing From Discovery to Clinic - ScienceDirect.
            <a href = "https://doi.org/10.1016/j.jalz.2016.09.014">
              https://doi.org/10.1016/j.jalz.2016.09.014
            </a>
            

          </li>
          <li>
            Verma, Rohit Kumar, Satpal Kaur, and Sheba Rani David. ‘An Instant Diagnosis for Depression by Blood Test’. Journal of Clinical and Diagnostic Research : JCDR 6, no. 9 (November 2012): 1612–13. .
            <a id = "ref21"></a>

            <a href = "https://doi.org/10.7860/JCDR/2012/4758.2579">
              https://doi.org/10.7860/JCDR/2012/4758.2579
            </a>
            

          </li>
          <li><a id = "ref22"></a>
            Pugia, Michael J., et al. ‘Microfluidic Tool Box as Technology Platform for Hand-Held Diagnostics’. Clinical Chemistry, vol. 51, no. 10, Oct. 2005, pp. 1923–32. PubMed,
            <a href = "https://doi.org/10.1373/clinchem.2005.052498">
              https://doi.org/10.1373/clinchem.2005.052498
            </a>
            

          </li>
          <li>
            <a id = "ref23"></a>
            Physiology, Neurotransmitters. (2023, January 1). PubMed.
            <a href = "https://pubmed.ncbi.nlm.nih.gov/30969716/">
              https://pubmed.ncbi.nlm.nih.gov/30969716/
            </a>
            

          </li>
          <li>
            <a id = "ref24"></a>
            Reduced whole blood serotonin in major depression - PubMed. (1997, January 1). PubMed.
            <a href = "https://pubmed.ncbi.nlm.nih.gov/9262942/">
              https://pubmed.ncbi.nlm.nih.gov/9262942/
            </a>
            

          </li>
          <li>
            <a id = "ref24"></a>
            Roy, B., Dunbar, M., Shelton, R. C., & Dwivedi, Y. (2016, August 31). Identification of MicroRNA-124-3p as a Putative Epigenetic Signature of Major Depressive Disorder. Neuropsychopharmacology, 42(4), 864–875. 
            <a href = "https://doi.org/10.1038/npp.2016.175">
              https://doi.org/10.1038/npp.2016.175
            </a>
            

          </li>
          <li>
            <a id = "ref25"></a>
            Changes in miRNA-132 and miR-124 levels in non-treated and citalopram-treated patients with depression. (2017, November 21). Changes in miRNA-132 and miR-124 Levels in Non-treated and Citalopram-treated Patients With Depression - ScienceDirect.
            <a href = "https://doi.org/10.1016/j.jad.2017.11.090">
              https://doi.org/10.1016/j.jad.2017.11.090
            </a>
            

          </li>
          
          <li>
            <a id = "ref27"></a>
            Nandam, L. S., Brazel, M., Zhou, M., & Jhaveri, D. J. (2020, January 22). Cortisol and Major Depressive Disorder—Translating Findings From Humans to Animal Models and Back. PubMed Central (PMC).
            <a href = "https://doi.org/10.3389/fpsyt.2019.00974">
              https://doi.org/10.3389/fpsyt.2019.00974
            </a>
            

          </li>
          <li>
            <a id = "ref28"></a>
            Islam, M. R., Islam, M. R., Ahmed, I., Moktadir, A. A., Nahar, Z., Islam, M. S., Binte Shahid, S. F., Islam, S. N., Islam, M. S., & Hasnat, A. (2018, May 9). Elevated serum levels of malondialdehyde and cortisol are associated with major depressive disorder: A case-control study. PubMed Central (PMC).
            <a href = "https://doi.org/10.1177/2050312118773953">
              https://doi.org/10.1177/2050312118773953
            </a>
            

          </li>
          <li>
            <a id = "ref29"></a>
            Senese, N. B., Rasenick, M. M., & Traynor, J. R. (2018, November 13). The Role of G-proteins and G-protein Regulating Proteins in Depressive Disorders. PubMed Central (PMC).
            <a href = "https://doi.org/10.3389/fphar.2018.01289">
              https://doi.org/10.3389/fphar.2018.01289
            </a>
            

          </li>
          <li>
            <a id = "ref30"></a>
            Tian, H., Yuan, C., Liu, Y., Li, Z., Xia, K., Li, M., Xie, F., Chen, Q., Chen, M., Fu, W., & Zhang, Y. (2020, October 31). A novel quantification platform for point-of-care testing of circulating MicroRNAs based on allosteric spherical nanoprobe. Journal of Nanobiotechnology, 18(1). 
            <a href = "https://doi.org/10.1186/s12951-020-00717-z">
              https://doi.org/10.1186/s12951-020-00717-z
            </a>
            

          </li>
          <li>
           <!-- <a id = "ref31"></a>
            Pehlivan, Z. S., Torabfam, M., Kurt, H., Ow-Yang, C., Hildebrandt, N., & Yüce, M. (2019, July 24). Aptamer and nanomaterial based FRET biosensors: a review on recent advances (2014–2019) - Microchimica Acta. SpringerLink.
            <a href = "https://doi.org/10.1007/s00604-019-3659-3">
              https://doi.org/10.1007/s00604-019-3659-3
            </a>-->
            

          </li>
          <li>
            <a id = "ref32"></a>
            Team:BostonU HW - 2017.Igem.Org.  PDMS Production Protocol. 
            <a href = "https://static.igem.org/mediawiki/2017/3/3b/UF101_PDMS_Protocol.pdf">
              https://static.igem.org/mediawiki/2017/3/3b/UF101_PDMS_Protocol.pdf
            </a>
            

          </li>
          <li>
            <a id = "ref33"></a>
            Team:BostonU HW - 2017.Igem.Org. 
            <a href = "https://2017.igem.org/Team:BostonU_HW/IntrouF">
              https://2017.igem.org/Team:BostonU_HW/IntrouF
            </a>
          </li>      
        </ol>
       
      </div>
    </div>
  </div>
</div>

{% endblock %}
