{% extends "layout.html" %}
  
{% block title %}Project Description{% endblock %}
{% block lead %}Describe how and why you chose your iGEM project.{% endblock %}

{% block page_content %}

<div class="cointainer my-4 mx-4">
  <div class="row">

    <div class="col-3">
      <ul class="list-group fixed-content" id="sidenav">
        <ul class="navbar-links">
          <li class="navbar-dropdown list-group-item list-group-item-action">
            <a href="#head1" style="color: black;">Heading - 1</a>
          </li>
          <li class="navbar-dropdown list-group-item list-group-item-action">
            <a href="#head2" style="color: black;">Heading - 2</a>
          </li>
          <li class="navbar-dropdown list-group-item list-group-item-action">
            <a href="#head3" style="color: black;">Heading - 3</a>
          </li>
          <li class="navbar-dropdown list-group-item list-group-item-action">
            <a href="#head4" style="color: black;">Heading - 4</a>
          </li>
          <li class="navbar-dropdown list-group-item list-group-item-action">
            <a href="#head5" style="color: black;">Heading - 5</a>
          </li>
          <li class="navbar-dropdown list-group-item list-group-item-action">
            <a href="#head6" style="color: black;">Heading - 6</a>
          </li>
          <li class="navbar-dropdown list-group-item list-group-item-action">
            <a href="#head7" style="color: black;">Heading - 7</a>
          </li>
        </ul>
      </ul>
    </div>

    <div data-bs-target="sidenav" data-bs-spy="scroll" class="col-9" style="padding-top: 20px">
      <div class="container " data-bs-spy="scroll" data-bs-offset="-200px">

        <!--intro-->
        <hr class="line">
        <h1 id="head1" style="color: #002147">Heading - 1</h1>
        <hr class="line">
        <br>
        <p>

          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          In non risus sollicitudin, pharetra orci non, cursus justo.
          Aenean pulvinar consequat est sit amet cursus. 
          In fermentum massa sit amet cursus mattis. 
          Integer eget tellus vitae nunc pulvinar sollicitudin. 
          Etiam vulputate lorem aliquet mi ullamcorper, id lobortis diam mollis. 
          Maecenas porta volutpat dui, at facilisis turpis. Nullam sed finibus ex. 
          Nam elementum nunc non massa imperdiet cursus. Suspendisse rutrum dignissim consectetur. 
          Praesent feugiat, lorem ac bibendum tempor, enim turpis blandit risus, rhoncus faucibus risus massa vel dui. 
          In vulputate orci ut mollis vehicula. Suspendisse sit amet rutrum arcu. 
          Integer a ante fermentum, rhoncus nibh vel, iaculis nisl.
           <a id="head2"></a>
        </p>
        <br>
        <hr class="line">
        <h1 id="head2" style="color: #002147">Heading - 2</h1>
        <hr class="line">
        <br>
        <p>

          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          In non risus sollicitudin, pharetra orci non, cursus justo.
          Aenean pulvinar consequat est sit amet cursus. 
          In fermentum massa sit amet cursus mattis. 
          Integer eget tellus vitae nunc pulvinar sollicitudin. 
          Etiam vulputate lorem aliquet mi ullamcorper, id lobortis diam mollis. 
          Maecenas porta volutpat dui, at facilisis turpis. Nullam sed finibus ex. 
          Nam elementum nunc non massa imperdiet cursus. Suspendisse rutrum dignissim consectetur. 
          Praesent feugiat, lorem ac bibendum tempor, enim turpis blandit risus, rhoncus faucibus risus massa vel dui. 
          In vulputate orci ut mollis vehicula. Suspendisse sit amet rutrum arcu. 
          Integer a ante fermentum, rhoncus nibh vel, iaculis nisl.
           <a id="head2"></a>
        </p>
        <br>
        <hr class="line">
        <h1 id="head3" style="color: #002147">Heading - 3</h1>
        <hr class="line">
        <br>
        <p>

          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          In non risus sollicitudin, pharetra orci non, cursus justo.
          Aenean pulvinar consequat est sit amet cursus. 
          In fermentum massa sit amet cursus mattis. 
          Integer eget tellus vitae nunc pulvinar sollicitudin. 
          Etiam vulputate lorem aliquet mi ullamcorper, id lobortis diam mollis. 
          Maecenas porta volutpat dui, at facilisis turpis. Nullam sed finibus ex. 
          Nam elementum nunc non massa imperdiet cursus. Suspendisse rutrum dignissim consectetur. 
          Praesent feugiat, lorem ac bibendum tempor, enim turpis blandit risus, rhoncus faucibus risus massa vel dui. 
          In vulputate orci ut mollis vehicula. Suspendisse sit amet rutrum arcu. 
          Integer a ante fermentum, rhoncus nibh vel, iaculis nisl.
           <a id="head3"></a>
        </p>
        <br>

        <hr class="line">
        <h1 id="head4" style="color: #002147">Heading - 4</h1>
        <hr class="line">
        <br>
        <p>

          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          In non risus sollicitudin, pharetra orci non, cursus justo.
          Aenean pulvinar consequat est sit amet cursus. 
          In fermentum massa sit amet cursus mattis. 
          Integer eget tellus vitae nunc pulvinar sollicitudin. 
          Etiam vulputate lorem aliquet mi ullamcorper, id lobortis diam mollis. 
          Maecenas porta volutpat dui, at facilisis turpis. Nullam sed finibus ex. 
          Nam elementum nunc non massa imperdiet cursus. Suspendisse rutrum dignissim consectetur. 
          Praesent feugiat, lorem ac bibendum tempor, enim turpis blandit risus, rhoncus faucibus risus massa vel dui. 
          In vulputate orci ut mollis vehicula. Suspendisse sit amet rutrum arcu. 
          Integer a ante fermentum, rhoncus nibh vel, iaculis nisl.
          <a id="head4"></a>
        </p>
        <br>

        <hr class="line">
        <h1 id="head5" style="color: #002147">Heading - 5</h1>
        <hr class="line">
        <br>
        <p>

          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          In non risus sollicitudin, pharetra orci non, cursus justo.
          Aenean pulvinar consequat est sit amet cursus. 
          In fermentum massa sit amet cursus mattis. 
          Integer eget tellus vitae nunc pulvinar sollicitudin. 
          Etiam vulputate lorem aliquet mi ullamcorper, id lobortis diam mollis. 
          Maecenas porta volutpat dui, at facilisis turpis. Nullam sed finibus ex. 
          Nam elementum nunc non massa imperdiet cursus. Suspendisse rutrum dignissim consectetur. 
          Praesent feugiat, lorem ac bibendum tempor, enim turpis blandit risus, rhoncus faucibus risus massa vel dui. 
          In vulputate orci ut mollis vehicula. Suspendisse sit amet rutrum arcu. 
          Integer a ante fermentum, rhoncus nibh vel, iaculis nisl.
          <a id="head5"></a>
        </p>
        <br>

        <hr class="line">
        <h1 id="head6" style="color: #002147">Heading - 6</h1>
        <hr class="line">
        <br>
        <p>

          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          In non risus sollicitudin, pharetra orci non, cursus justo.
          Aenean pulvinar consequat est sit amet cursus. 
          In fermentum massa sit amet cursus mattis. 
          Integer eget tellus vitae nunc pulvinar sollicitudin. 
          Etiam vulputate lorem aliquet mi ullamcorper, id lobortis diam mollis. 
          Maecenas porta volutpat dui, at facilisis turpis. Nullam sed finibus ex. 
          Nam elementum nunc non massa imperdiet cursus. Suspendisse rutrum dignissim consectetur. 
          Praesent feugiat, lorem ac bibendum tempor, enim turpis blandit risus, rhoncus faucibus risus massa vel dui. 
          In vulputate orci ut mollis vehicula. Suspendisse sit amet rutrum arcu. 
          Integer a ante fermentum, rhoncus nibh vel, iaculis nisl.
          <a id="head6"></a>
        </p>
        <br>


        <hr class="line">
        <h1 id="head7" style="color: #002147">Heading - 7</h1>
        <hr class="line">
        <br>
        <p>

          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          In non risus sollicitudin, pharetra orci non, cursus justo.
          Aenean pulvinar consequat est sit amet cursus. 
          In fermentum massa sit amet cursus mattis. 
          Integer eget tellus vitae nunc pulvinar sollicitudin. 
          Etiam vulputate lorem aliquet mi ullamcorper, id lobortis diam mollis. 
          Maecenas porta volutpat dui, at facilisis turpis. Nullam sed finibus ex. 
          Nam elementum nunc non massa imperdiet cursus. Suspendisse rutrum dignissim consectetur. 
          Praesent feugiat, lorem ac bibendum tempor, enim turpis blandit risus, rhoncus faucibus risus massa vel dui. 
          In vulputate orci ut mollis vehicula. Suspendisse sit amet rutrum arcu. 
          Integer a ante fermentum, rhoncus nibh vel, iaculis nisl.
          <a id="head4"></a>
        </p>
        <br>
  </div>
</div>

{% endblock %}
