{% extends "layout.html" %}
  
{% block title %}Education{% endblock %}
{% block lead %}Innovative educational tools and outreach activities have the ability to establish a two-way dialogue with new communities by discussing public values and the science behind synthetic biology.{% endblock %}

{% block page_content %}

<div class="row mt-4">
  <div class="col">
    <div class="bd-callout bd-callout-info">
      
      
<!--<div class="wrapper">
  <div class="parallax-card">
    <div class="parallax-card__holder">
      <div class="parallax-card__front" style="background: url(http://3.bp.blogspot.com/-pALEvZsxjLY/Voj79q4lExI/AAAAAAAAGbE/HLFxzSWDoKQ/w480-h854-c/cute-cartoon-owl-art-android-best-wallpaper.jpg) 50% 50% no-repeat;">
        <div class="parallax-card__content"><span class="parallax-card__front-title">Title</span></div>
      </div>
      <div class="parallax-card__back">
        <div class="parallax-card__content"><span class="parallax-card__back-descr">Description</span></div>
      </div>
    </div>
  </div>
  <div class="parallax-card">
    <div class="parallax-card__holder">
      <div class="parallax-card__front" style="background: url(https://i.pinimg.com/originals/c7/5c/6c/c75c6c75494096e28ab71878d06c98d4.jpg) 50% 50% no-repeat;">
        <div class="parallax-card__content"><span class="parallax-card__front-title">Title</span></div>
      </div>
      <div class="parallax-card__back">
        <div class="parallax-card__content"><span class="parallax-card__back-descr">Description</span></div>
      </div>
    </div>
  </div>
  <div class="parallax-card">
    <div class="parallax-card__holder">
      <div class="parallax-card__front" style="background: url(https://i.pinimg.com/originals/c7/5c/6c/c75c6c75494096e28ab71878d06c98d4.jpg) 50% 50% no-repeat;">
        <div class="parallax-card__content"><span class="parallax-card__front-title">Title</span></div>
      </div>
      <div class="parallax-card__back">
        <div class="parallax-card__content"><span class="parallax-card__back-descr">Description</span></div>
      </div>
    </div>
  </div>
  <div class="parallax-card">
    <div class="parallax-card__holder">
      <div class="parallax-card__front" style="background: url(https://i.pinimg.com/originals/c7/5c/6c/c75c6c75494096e28ab71878d06c98d4.jpg) 50% 50% no-repeat;">
        <div class="parallax-card__content"><span class="parallax-card__front-title">Title</span></div>
      </div>
      <div class="parallax-card__back">
        <div class="parallax-card__content"><span class="parallax-card__back-descr">Description</span></div>
      </div>
    </div>
  </div>
</div>-->

 <div class="container">
      <div class="row">
        <div id="container10"> </div>
        <div class="col-4">
          
         
<div class="wrapper">
  <div class="item"> <span class="close"></span>
    <div class="graphic"><img src="https://cdn1.vox-cdn.com/thumbor/EC4X77BDJU-0T7ckeVIeLcEhR8o=/0x1080/volume-assets.voxmedia.com/production/274228316beb82085aabc047060ca11e/angry-birds-family-art_1920.jpg" alt="Angry bird" onClick="animateCard()"/><span>Game of the day</span></div>
    <div class="brief">
      <div class="icon"><img src="http://www.myiconfinder.com/uploads/iconsets/256-256-8a8001971ed7e3e34510584b1f3ce74d.png" alt=""/></div>
      <div class="typo"><span>Angry Bird</span><span>Rovio</span></div>
    </div>
    <div class="sub">
      <p class="header">Angry Bird</p>
      <p class="story">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32. 
        <div class="wrapper"></div>
      </p>
    </div>
  </div>
  </div>
  </div>
  </div>
        <div class="col-4">
            <div class="wrapper">
    <div class="item"> <span class="close"></span>
      <div class="graphic"><img src="https://cdn1.vox-cdn.com/thumbor/EC4X77BDJU-0T7ckeVIeLcEhR8o=/0x1080/volume-assets.voxmedia.com/production/274228316beb82085aabc047060ca11e/angry-birds-family-art_1920.jpg" alt="Angry bird" onClick="animateCard()"/><span>Game of the day</span></div>
      <div class="brief">
        <div class="icon"><img src="http://www.myiconfinder.com/uploads/iconsets/256-256-8a8001971ed7e3e34510584b1f3ce74d.png" alt=""/></div>
        <div class="typo"><span>Angry Bird</span><span>Rovio</span></div>
      </div>
      <div class="sub">
        <p class="header">Angry Bird</p>
        <p class="story">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32. 
          <div class="wrapper"></div>
        </p>
      </div>
    </div>
    </div>
    </div>
    </div>
        <div class="col-4">
    <div class="wrapper">
      <div class="item"> <span class="close"></span>
        <div class="graphic"><img src="https://cdn1.vox-cdn.com/thumbor/EC4X77BDJU-0T7ckeVIeLcEhR8o=/0x1080/volume-assets.voxmedia.com/production/274228316beb82085aabc047060ca11e/angry-birds-family-art_1920.jpg" alt="Angry bird" onClick="animateCard()"/><span>Game of the day</span></div>
        <div class="brief">
          <div class="icon"><img src="http://www.myiconfinder.com/uploads/iconsets/256-256-8a8001971ed7e3e34510584b1f3ce74d.png" alt=""/></div>
          <div class="typo"><span>Yoga Day</span><span>We celebrated1</span></div>
        </div>
        <div class="sub">
          <p class="header">Angry Bird</p>
          <p class="story">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32. 
            <div class="wrapper"></div>
          </p>
        </div>
      </div>
      </div>
      </div>
      </div>
       </div>
    </div>
      
  </section>
  
</div>
</div>




      <h4>Best Education</h4>
      <p>How have you developed new opportunities to include more people in shaping synthetic biology? Innovative educational tools and outreach activities have the ability to establish a two-way dialogue with new communities by discussing public values and the science behind synthetic biology. Document your approach and what was learned by everyone involved to compete for this award.</p>
      <p>To compete for the Best Education prize, please describe your work on this page and also fill out the description on the <a href="https://competition.igem.org/deliverables/judging-form">judging form</a>.</p>
      <hr>
      <p>Please see the <a href="https://competition.igem.org/judging/awards">2023 Awards Page</a> for more information.</p>
    </div>
  </div>
</div>

<div class="row mt-4">
  <div class="col">
    <h2>Inspirations</h2>
    <hr>
    <ul>
      <li><a href="https://2020.igem.org/Team:CCA_San_Diego/Education">2020 CCA San Diego</a></li>
      <li><a href="https://2020.igem.org/Team:Lambert_GA/Education">2020 Lambert GA</a></li>
      <li><a href="https://2020.igem.org/Team:Stanford/Education">2020 Stanford</a></li>
      <li><a href="https://2020.igem.org/Team:Waseda/Education">2020 Waseda</a></li>
      <li><a href="https://2020.igem.org/Team:Fudan/Education">2020 Fudan</a></li>
      <li><a href="https://2020.igem.org/Team:Toulouse_INSA-UPS/Education">2020 Toulouse INSA UPS</a></li>
    </ul>
  </div>
</div>
<!--
<script>
gsap.registerPlugin(ScrollTrigger);

gsap.utils.toArray(".cards").forEach((row) => {
  const tl = gsap.timeline();
  const cards = row.querySelectorAll(".card");
  const title = row.parentNode.querySelector(".page-section__title");

  ScrollTrigger.create({
    trigger: row,
    start: "+=200px bottom",
    animation: tl
      .to(title, {
        duration: 0.5,
        opacity: 1,
        x: 0,
        ease: "back.out(1.4)"
      })
      .to(cards, {
        duration: 1,
        opacity: 1,
        x: 0,
        ease: "elastic.out(1, 0.75)",
        stagger: { axis: "x", each: 0.04 }
      }, "-=0.2")
  });
});

</script>-->
<script>
           $('.menu-toggle').click(function(){
                   $(".nav").toggleClass("mobile-nav");
                   $(this).toggleClass("is-active");
                });
                </script>
                <script>
                  var cardsModule = (function() {
  var trigger = $(".item"),
    closetrigger = $(".item span.close");

  var animateCard = function() {
    $(this).addClass("animate");
  };

  var closeCard = function(e) {
    console.log($(this)
      .parent())
    $(this)
      .parent()
      .removeClass("animate");
    e.stopPropagation();
  };

  trigger.on("click", animateCard);
  closetrigger.on("click", closeCard);
})();

                </script>
                <script>
             var data = [
  {
    id: "0",
    parent: "",
    name: " ",
    color: "#FFFFFF"
  },
  {
    id: "R",
    parent: "0",
    name: "Rural",
    color: "#ecb37c"
  },
  {
    id: "U",
    parent: "0",
    name: "Urban",
    color:"#7CB5EC"
  },
  {
    id: "RV",
    name: "Vehicles",
    parent: "R"
  },
  {
    id: "RO",
    name: "Others",
    parent: "R",
    color: "#FFFFFF"
  },
  {
    id: "UV",
    name: "Vehicles",
    parent: "U"
  },
  {
    id: "UO",
    name: "Others",
    parent: "U"
  },
  {
    name: "Cars and minivans",
    parent: "RV",
    value: 6767
  },
  {
    name: "Pickups",
    parent: "RV",
    value: 2965
  },
  {
    name: "SUVs",
    parent: "RV",
    value: 2973
  },
  {
    name: "Large trucks",
    parent: "RV",
    value: 501
  },
  {
    name: "Motorcycles",
    parent: "RV",
    value: 1986
  },
  {
    name: "Pedestrians",
    parent: "RO",
    value: 1141
  },
  {
    name: "Bicyclists",
    parent: "RO",
    value: 187
  },
  {
    name: "Cars and minivans",
    parent: "UV",
    value: 6727
  },
  {
    name: "Pickups",
    parent: "UV",
    value: 1367
  },
  {
    name: "SUVs",
    parent: "UV",
    value: 2114
  },
  {
    name: "Large trucks",
    parent: "UV",
    value: 173
  },
  {
    name: "Motorcycles",
    parent: "UV",
    value: 3025
  },
  {
    name: "Pedestrians",
    parent: "UO",
    value: 4642
  },
  {
    name: "Bicyclists",
    parent: "UO",
    value: 554
  }
];

Highcharts.setOptions({
  colors: ["#ecb37c", "#ECE100"]
});
Highcharts.chart("container", {
  chart: {
    height: "100%"
  },

  title: {
    text: "Urban vs rural road fatalities in 2017"
  },
  subtitle: {
    text:
      'Source: <a href="https://www.iihs.org/topics/fatality-statistics/detail/urban-rural-comparison">Insurance Institute for Highway Safety </a>'
  },
  series: [
    {
      type: "sunburst",
      data: data,
      allowDrillToNode: true,
      cursor: "pointer",
      borderWidth: 3,
      borderColor: "#000000",
      dataLabels: {
        format: "{point.name}",
        filter: {
          property: "innerArcLength",
          operator: ">",
          value: 16
        },
        style: {
          textOutline: false,
          color: "#000000"
        }
      },
      levels: [
        {
          level: 1,
          levelIsConstant: false,
          dataLabels: {
            filter: {
              property: "outerArcLength",
              operator: ">",
              value: 64
            }
          }
        },
        {
          level: 2,
          colorByPoint: true
        },
        {
          level: 3,
          colorVariation: {
            key: "brightness",
            to: -0.5
          }
        },
        {
          level: 4,
          colorVariation: {
            key: "brightness",
            to: 0.5
          }
        }
      ]
    }
  ],
  tooltip: {
    headerFormat: "",
    pointFormat: "The population of <b>{point.name}</b> is <b>{point.value}</b>"
  }
});
                </script>
            
{% endblock %}
