{% extends "layout.html" %}
  
{% block title %}Education{% endblock %}
{% block lead %}Innovative educational tools and outreach activities have the ability to establish a two-way dialogue with new communities by discussing public values and the science behind synthetic biology.{% endblock %}

{% block page_content %}

<div class="row mt-4">
  <div class="col">
    <div class="bd-callout bd-callout-info">
      
<!--      
<header class="page-header">
  <h1 class="page-header__title">Cards!</h1>
</header>
<section class="page-section">
  <h2 class="page-section__title">Hand-picked For You ❤</h2>
  <div class="cards">
    <div class="card">
     <!-- <div class="card__image">       
        <img src = "https://static.igem.wiki/teams/4693/wiki/assets/info1.png" class= "img-fluid" > 
      
      <div class="card__content">
        <div class="card__title">Yoga day</div>
        <div class="card__line">On June 21st, International Yoga Day, 
          we collaborated with different iGEM teams worldwide to spread the message of yoga</div>
        <div class="card__line"></div>
        <div class="card__line"></div>
      </div>
    </div>
    <div class="card">
      <div class="card__image"></div>
      <div class="card__content">
        <div class="card__title"></div>
        <div class="card__line"></div>
        <div class="card__line"></div>
        <div class="card__line"></div>
      </div>
    </div>
    <div class="card">
      <div class="card__image"></div>
      <div class="card__content">
        <div class="card__title"></div>
        <div class="card__line"></div>
        <div class="card__line"></div>
        <div class="card__line"></div>
      </div>
    </div>
    <div class="card">
      <div class="card__image"></div>
      <div class="card__content">
        <div class="card__title"></div>
        <div class="card__line"></div>
        <div class="card__line"></div>
        <div class="card__line"></div>
      </div>
    </div>
    <div class="card">
      <div class="card__image"></div>
      <div class="card__content">
        <div class="card__title"></div>
        <div class="card__line"></div>
        <div class="card__line"></div>
        <div class="card__line"></div>
      </div>
    </div>
  </div>
</section>
<section class="page-section">
  <h2 class="page-section__title">Our Current Favorites</h2>
  <div class="cards">
    <div class="card">
      <div class="card__image"></div>
      <div class="card__content">
        <div class="card__title"></div>
        <div class="card__line"></div>
        <div class="card__line"></div>
        <div class="card__line"></div>
      </div>
    </div>
    <div class="card">
      <div class="card__image"></div>
      <div class="card__content">
        <div class="card__title"></div>
        <div class="card__line"></div>
        <div class="card__line"></div>
        <div class="card__line"></div>
      </div>
    </div>
    <div class="card">
      <div class="card__image"></div>
      <div class="card__content">
        <div class="card__title"></div>
        <div class="card__line"></div>
        <div class="card__line"></div>
        <div class="card__line"></div>
      </div>
    </div>
    <div class="card">
      <div class="card__image"></div>
      <div class="card__content">
        <div class="card__title"></div>
        <div class="card__line"></div>
        <div class="card__line"></div>
        <div class="card__line"></div>
      </div>
    </div>
  </div>
</section>
<section class="page-section">
  <h2 class="page-section__title">Community Selections</h2>
  <div class="cards">
    <div class="card">
      <div class="card__image"></div>
      <div class="card__content">
        <div class="card__title"></div>
        <div class="card__line"></div>
        <div class="card__line"></div>
        <div class="card__line"></div>
      </div>
    </div>
    <div class="card">
      <div class="card__image"></div>
      <div class="card__content">
        <div class="card__title"></div>
        <div class="card__line"></div>
        <div class="card__line"></div>
        <div class="card__line"></div>
      </div>
    </div>
    <div class="card">
      <div class="card__image"></div>
      <div class="card__content">
        <div class="card__title"></div>
        <div class="card__line"></div>
        <div class="card__line"></div>
        <div class="card__line"></div>
      </div>
    </div>
    <div class="card">
      <div class="card__image"></div>
      <div class="card__content">
        <div class="card__title"></div>
        <div class="card__line"></div>
        <div class="card__line"></div>
        <div class="card__line"></div>
      </div>
    </div>
  </div>
</section>
<section class="page-section">
  <h2 class="page-section__title">Recently Viewed</h2>
  <div class="cards">
    <div class="card">
      <div class="card__image"></div>
      <div class="card__content">
        <div class="card__title"></div>
        <div class="card__line"></div>
        <div class="card__line"></div>
        <div class="card__line"></div>
      </div>
    </div>
    <div class="card">
      <div class="card__image"></div>
      <div class="card__content">
        <div class="card__title"></div>
        <div class="card__line"></div>
        <div class="card__line"></div>
        <div class="card__line"></div>
      </div>
    </div>
    <div class="card">
      <div class="card__image"></div>
      <div class="card__content">
        <div class="card__title"></div>
        <div class="card__line"></div>
        <div class="card__line"></div>
        <div class="card__line"></div>
      </div>
    </div>
    <div class="card">
      <div class="card__image"></div>
      <div class="card__content">
        <div class="card__title"></div>
        <div class="card__line"></div>
        <div class="card__line"></div>
        <div class="card__line"></div>
      </div>
    </div>
  </div>
</section> 
<div class="lightbox-blanket">
  <div class="pop-up-container">
    <div class="pop-up-container-vertical">
      <div class="pop-up-wrapper">
        <div class="go-back" onclick="GoBack();"><i class="fa fa-arrow-left"></i>
        </div>
        <div class="product-details">
          <div class="product-left">
            <div class="product-info">
              <div class="product-manufacturer">NOOK
              </div>
              <div class="product-title">
                LOUNGE CHAIR
              </div>
              <div class="product-price" price-data="320.03">
                $320<span class="product-price-cents">03</span>
              </div>
            </div>
            <div class="product-image">
              <img src="https://via.placeholder.com/300" />
            </div>
          </div>
          <div class="product-right">
            <div class="product-description">
              Designer Karim Rashid continues to put his signature spin on all genres of design through various collaborations with top-notch companies. Another one to add to the win column is his work with Italian manufacturer Chateau d’Ax.
            </div>
            <div class="product-available">
              In stock. <span class="product-extended"><a href="#">Buy Extended Warranty</a></span>
            </div>
            <div class="product-rating">
              <i class="fa fa-star rating" star-data="1"></i>
              <i class="fa fa-star rating" star-data="2"></i>
              <i class="fa fa-star rating" star-data="3"></i>
              <i class="fa fa-star" star-data="4"></i>
              <i class="fa fa-star" star-data="5"></i>
              <div class="product-rating-details">(3.1 - <span class="rating-count">1203</span> reviews)
              </div>

            </div>
            <div class="product-quantity">
              <label for="product-quantity-input" class="product-quantity-label">Quantity</label>
              <div class="product-quantity-subtract">
                <i class="fa fa-chevron-left"></i>
              </div>
              <div>
                <input type="text" id="product-quantity-input" placeholder="0" value="0" />
              </div>
              <div class="product-quantity-add">
                <i class="fa fa-chevron-right"></i>
              </div>
            </div>
          </div>
          <div class="product-bottom">
            <div class="product-checkout">
              Total Price
              <div class="product-checkout-total">
                <i class="fa fa-usd"></i>
                <div class="product-checkout-total-amount">
                  0.00
                </div>
              </div>
            </div>
            <div class="product-checkout-actions">
              <a class="add-to-cart" href="#" onclick="AddToCart(event);">Add to Cart</a>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="random-background">
  <div class="itemlist">
    <div class="itemlist-item-wrapper" onclick="OpenProduct(1);">
      <div class="product-details">
        <div class="">
          <div class="product-info">

            <div class="product-title" item-data="1">
              LOUNGE CHAIR
            </div>
            <div class="product-price" price-data="320.03" item-data="1">
              $320<span class="product-price-cents">03</span>
            </div>
          </div>
          <div class="product-image" item-data="1">
            <img src="https://via.placeholder.com/300" />
          </div>
        </div>
      </div>
    </div>
    <div class="itemlist-item-wrapper" onclick="OpenProduct(2);">
      <div class="product-details">
        <div class="">
          <div class="product-info">

            <div class="product-title" item-data="2">
              LOUNGE CHAIR
            </div>
            <div class="product-price" price-data="320.03" item-data="2">
              $320<span class="product-price-cents">03</span>
            </div>
          </div>
          <div class="product-image" item-data="2">
            <img src="https://via.placeholder.com/300" />
          </div>
        </div>
      </div>
    </div>
    <div class="itemlist-item-wrapper" onclick="OpenProduct(3);">
      <div class="product-details">
        <div class="">
          <div class="product-info">

            <div class="product-title" item-data="3">
              LOUNGE CHAIR
            </div>
            <div class="product-price" price-data="320.03" item-data="3">
              $320<span class="product-price-cents">03</span>
            </div>
          </div>
          <div class="product-image" item-data="3">
            <img src="https://via.placeholder.com/300" />
          </div>
        </div>
      </div>
    </div>
    <div class="itemlist-item-wrapper" onclick="OpenProduct(4);">
      <div class="product-details">
        <div class="">
          <div class="product-info">
            <div class="product-title" item-data="4">
              LOUNGE CHAIR
            </div>
            <div class="product-price" price-data="320.03" item-data="4">
              $320<span class="product-price-cents">03</span>
            </div>
          </div>
          <div class="product-image" item-data="4">
            <img src="https://via.placeholder.com/300" />
          </div>
        </div>
      </div>
    </div>
    <div class="itemlist-item-wrapper" onclick="OpenProduct(5);">
      <div class="product-details">
        <div class="">
          <div class="product-info">
            <div class="product-title" item-data="5">
              LOUNGE CHAIR
            </div>
            <div class="product-price" price-data="169.49" item-data="5">
              $<span class="product-price-dollar">169</span><span class="product-price-cents">49</span>
            </div>
          </div>
          <div class="product-image" item-data="5">
            <img src="https://via.placeholder.com/300" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div class="cards">

  <div class="card">
    <div class="card__image-holder">
      <img class="card__image" src="https://source.unsplash.com/300x225/?wave" alt="wave" />
    </div>
    <div class="card-title">
      <a href="#0" class="cd-popup-trigger">View Pop-up</a>

<div class="cd-popup" role="alert">
	<div class="cd-popup-container">
		<div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
  
      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">
          <img src="https://www.w3schools.com/bootstrap/la.jpg" alt="Los Angeles" style="width:100%;">
        </div>
  
        <div class="item">
          <img src="https://www.w3schools.com/bootstrap/chicago.jpg" alt="Chicago" style="width:100%;">
        </div>
      
        <div class="item">
          <img src="https://www.w3schools.com/bootstrap/ny.jpg" alt="New york" style="width:100%;">
        </div>
      </div>
  
      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
		<a href="#0" class="cd-popup-close img-replace">Close</a>
	</div> <!-- cd-popup-container -->
</div> <!-- cd-popup -->
      <h2>
          Card title
          <small>Image from unsplash.com</small>
      </h2>
    </div>
    <div class="card-flap flap1">
      <div class="card-description">
        This grid is an attempt to make something nice that works on touch devices. Ignoring hover states when they're not available etc.
      </div>
      <div class="card-flap flap2">
        <div class="card-actions">
          <a href="#" class="btn">Read more</a>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card__image-holder">
      <img class="card__image" src="https://source.unsplash.com/300x225/?beach" alt="beach" />
    </div>
    <div class="card-title">
      <a href="#" class="toggle-info btn">
        <span class="left"></span>
        <span class="right"></span>
      </a>
      <h2>
          Card title
          <small>Image from unsplash.com</small>
      </h2>
    </div>
    <div class="card-flap flap1">
      <div class="card-description">
        This grid is an attempt to make something nice that works on touch devices. Ignoring hover states when they're not available etc.
      </div>
      <div class="card-flap flap2">
        <div class="card-actions">
          <a href="#" class="btn">Read more</a>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card__image-holder">
      <img class="card__image" src="https://source.unsplash.com/300x225/?mountain" alt="mountain" />
    </div>
    <div class="card-title">
      <a href="#" class="toggle-info btn">
        <span class="left"></span>
        <span class="right"></span>
      </a>
      <h2>
          Card title
          <small>Image from unsplash.com</small>
      </h2>
    </div>
    <div class="card-flap flap1">
      <div class="card-description">
        This grid is an attempt to make something nice that works on touch devices. Ignoring hover states when they're not available etc.
      </div>
      <div class="card-flap flap2">
        <div class="card-actions">
          <a href="#" class="btn">Read more</a>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card__image-holder">
      <img class="card__image" src="https://source.unsplash.com/300x225/?field" alt="field" />
    </div>
    <div class="card-title">
      <a href="#" class="toggle-info btn">
        <span class="left"></span>
        <span class="right"></span>
      </a>
      <h2>
          Card title
          <small>Image from unsplash.com</small>
      </h2>
    </div>
    <div class="card-flap flap1">
      <div class="card-description">
        This grid is an attempt to make something nice that works on touch devices. Ignoring hover states when they're not available etc.
      </div>
      <div class="card-flap flap2">
        <div class="card-actions">
          <a href="#" class="btn">Read more</a>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card__image-holder">
      <img class="card__image" src="https://source.unsplash.com/300x225/?water" alt="water" />
    </div>
    <div class="card-title">
      <a href="#" class="toggle-info btn">
        <span class="left"></span>
        <span class="right"></span>
      </a>
      <h2>
          Card title
          <small>Image from unsplash.com</small>
      </h2>
    </div>
    <div class="card-flap flap1">
      <div class="card-description">
        This grid is an attempt to make something nice that works on touch devices. Ignoring hover states when they're not available etc.
      </div>
      <div class="card-flap flap2">
        <div class="card-actions">
          <a href="#" class="btn">Read more</a>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card__image-holder">
      <img class="card__image" src="https://source.unsplash.com/300x225/?river" alt="river" />
    </div>
    <div class="card-title">
      <a href="#" class="toggle-info btn">
        <span class="left"></span>
        <span class="right"></span>
      </a>
      <h2>
          Card title
          <small>Image from unsplash.com</small>
      </h2>
    </div>
    <div class="card-flap flap1">
      <div class="card-description">
        This grid is an attempt to make something nice that works on touch devices. Ignoring hover states when they're not available etc.
      </div>
      <div class="card-flap flap2">
        <div class="card-actions">
          <a href="#" class="btn">Read more</a>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card__image-holder">
      <img class="card__image" src="https://source.unsplash.com/300x225/?kite" alt="kite" />
    </div>
    <div class="card-title">
      <a href="#" class="toggle-info btn">
        <span class="left"></span>
        <span class="right"></span>
      </a>
      <h2>
          Card title
          <small>Image from unsplash.com</small>
      </h2>
    </div>
    <div class="card-flap flap1">
      <div class="card-description">
        This grid is an attempt to make something nice that works on touch devices. Ignoring hover states when they're not available etc.
      </div>
      <div class="card-flap flap2">
        <div class="card-actions">
          <a href="#" class="btn">Read more</a>
        </div>
      </div>
    </div>
  </div>
  
  <div class="card">
    <div class="card__image-holder">
      <img class="card__image" src="https://source.unsplash.com/300x225/?underwater" alt="underwater" />
    </div>
    <div class="card-title">
      <a href="#" class="toggle-info btn">
        <span class="left"></span>
        <span class="right"></span>
      </a>
      <h2>
          Card title
          <small>Image from unsplash.com</small>
      </h2>
    </div>
    <div class="card-flap flap1">
      <div class="card-description">
        This grid is an attempt to make something nice that works on touch devices. Ignoring hover states when they're not available etc.
      </div>
      <div class="card-flap flap2">
        <div class="card-actions">
          <a href="#" class="btn">Read more</a>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card__image-holder">
      <img class="card__image" src="https://source.unsplash.com/300x225/?desert" alt="desert" />
    </div>
    <div class="card-title">
      <a href="#" class="toggle-info btn">
        <span class="left"></span>
        <span class="right"></span>
      </a>
      <h2>
          Card title
          <small>Image from unsplash.com</small>
      </h2>
    </div>
    <div class="card-flap flap1">
      <div class="card-description">
        This grid is an attempt to make something nice that works on touch devices. Ignoring hover states when they're not available etc.
      </div>
      <div class="card-flap flap2">
        <div class="card-actions">
          <a href="#" class="btn">Read more</a>
        </div>
      </div>
    </div>
  </div>

</div>




      <h4>Best Education</h4>
      <p>How have you developed new opportunities to include more people in shaping synthetic biology? Innovative educational tools and outreach activities have the ability to establish a two-way dialogue with new communities by discussing public values and the science behind synthetic biology. Document your approach and what was learned by everyone involved to compete for this award.</p>
      <p>To compete for the Best Education prize, please describe your work on this page and also fill out the description on the <a href="https://competition.igem.org/deliverables/judging-form">judging form</a>.</p>
      <hr>
      <p>Please see the <a href="https://competition.igem.org/judging/awards">2023 Awards Page</a> for more information.</p>
    </div>
  </div>
</div>

<div class="row mt-4">
  <div class="col">
    <h2>Inspirations</h2>
    <hr>
    <ul>
      <li><a href="https://2020.igem.org/Team:CCA_San_Diego/Education">2020 CCA San Diego</a></li>
      <li><a href="https://2020.igem.org/Team:Lambert_GA/Education">2020 Lambert GA</a></li>
      <li><a href="https://2020.igem.org/Team:Stanford/Education">2020 Stanford</a></li>
      <li><a href="https://2020.igem.org/Team:Waseda/Education">2020 Waseda</a></li>
      <li><a href="https://2020.igem.org/Team:Fudan/Education">2020 Fudan</a></li>
      <li><a href="https://2020.igem.org/Team:Toulouse_INSA-UPS/Education">2020 Toulouse INSA UPS</a></li>
    </ul>
  </div>
</div>
<!--
<script>
gsap.registerPlugin(ScrollTrigger);

gsap.utils.toArray(".cards").forEach((row) => {
  const tl = gsap.timeline();
  const cards = row.querySelectorAll(".card");
  const title = row.parentNode.querySelector(".page-section__title");

  ScrollTrigger.create({
    trigger: row,
    start: "+=200px bottom",
    animation: tl
      .to(title, {
        duration: 0.5,
        opacity: 1,
        x: 0,
        ease: "back.out(1.4)"
      })
      .to(cards, {
        duration: 1,
        opacity: 1,
        x: 0,
        ease: "elastic.out(1, 0.75)",
        stagger: { axis: "x", each: 0.04 }
      }, "-=0.2")
  });
});

</script>-->
<script>
  jQuery(document).ready(function($){
	//open popup
	$('.cd-popup-trigger').on('click', function(event){
		event.preventDefault();
		$('.cd-popup').addClass('is-visible');
	});
	
	//close popup
	$('.cd-popup').on('click', function(event){
		if( $(event.target).is('.cd-popup-close') || $(event.target).is('.cd-popup') ) {
			event.preventDefault();
			$(this).removeClass('is-visible');
		}
	});
	//close popup when clicking the esc keyboard button
	$(document).keyup(function(event){
    	if(event.which=='27'){
    		$('.cd-popup').removeClass('is-visible');
	    }
    });
});
</script>

{% endblock %}
