{% extends "layout.html" %}
  
{% block title %}Education{% endblock %}
{% block lead %}Innovative educational tools and outreach activities have the ability to establish a two-way dialogue with new communities by discussing public values and the science behind synthetic biology.{% endblock %}

{% block page_content %}

<div class="row mt-4">
  <div class="col">
    <div class="bd-callout bd-callout-info">
      
      
<!--<div class="wrapper">
  <div class="parallax-card">
    <div class="parallax-card__holder">
      <div class="parallax-card__front" style="background: url(http://3.bp.blogspot.com/-pALEvZsxjLY/Voj79q4lExI/AAAAAAAAGbE/HLFxzSWDoKQ/w480-h854-c/cute-cartoon-owl-art-android-best-wallpaper.jpg) 50% 50% no-repeat;">
        <div class="parallax-card__content"><span class="parallax-card__front-title">Title</span></div>
      </div>
      <div class="parallax-card__back">
        <div class="parallax-card__content"><span class="parallax-card__back-descr">Description</span></div>
      </div>
    </div>
  </div>
  <div class="parallax-card">
    <div class="parallax-card__holder">
      <div class="parallax-card__front" style="background: url(https://i.pinimg.com/originals/c7/5c/6c/c75c6c75494096e28ab71878d06c98d4.jpg) 50% 50% no-repeat;">
        <div class="parallax-card__content"><span class="parallax-card__front-title">Title</span></div>
      </div>
      <div class="parallax-card__back">
        <div class="parallax-card__content"><span class="parallax-card__back-descr">Description</span></div>
      </div>
    </div>
  </div>
  <div class="parallax-card">
    <div class="parallax-card__holder">
      <div class="parallax-card__front" style="background: url(https://i.pinimg.com/originals/c7/5c/6c/c75c6c75494096e28ab71878d06c98d4.jpg) 50% 50% no-repeat;">
        <div class="parallax-card__content"><span class="parallax-card__front-title">Title</span></div>
      </div>
      <div class="parallax-card__back">
        <div class="parallax-card__content"><span class="parallax-card__back-descr">Description</span></div>
      </div>
    </div>
  </div>
  <div class="parallax-card">
    <div class="parallax-card__holder">
      <div class="parallax-card__front" style="background: url(https://i.pinimg.com/originals/c7/5c/6c/c75c6c75494096e28ab71878d06c98d4.jpg) 50% 50% no-repeat;">
        <div class="parallax-card__content"><span class="parallax-card__front-title">Title</span></div>
      </div>
      <div class="parallax-card__back">
        <div class="parallax-card__content"><span class="parallax-card__back-descr">Description</span></div>
      </div>
    </div>
  </div>
</div>-->

<div id="container10"></div>
 <div class="container">
        <h3 class="title"> organic products22 </h3>

        <div class="products2-container">
     
           <div class="product2" data-name="p-1">
              <img src="images/1.png" alt="">
              <h3>strawberries</h3>
              <div class="price">$2.00</div>
           </div>
     
           <div class="product2" data-name="p-2">
              <img src="images/2.png" alt="">
              <h3>onions</h3>
              <div class="price">$2.00</div>
           </div>
     
           <div class="product2" data-name="p-3">
              <img src="images/3.png" alt="">
              <h3>tomatoes</h3>
              <div class="price">$2.00</div>
           </div>
     
           <div class="product2" data-name="p-4">
              <img src="images/4.png" alt="">
              <h3>brinjal</h3>
              <div class="price">$2.00</div>
           </div>
     
           <div class="product2" data-name="p-5">
              <img src="images/5.png" alt="">
              <h3>broccoli</h3>
              <div class="price">$2.00</div>
           </div>
     
           <div class="product2" data-name="p-6">
              <img src="images/6.png" alt="">
              <h3>potatoes</h3>
              <div class="price">$2.00</div>
           </div>
     
        </div>
     
     
     
     <div class="products2-preview">
     
        <div class="preview" data-target="p-1">
           <i class="fas fa-times"></i>
           <img src="images/1.png" alt="">
           <h3>organic strawberries</h3>
           <div class="stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
              <span>( 250 )</span>
           </div>
           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, dolorem.</p>
           <div class="price">$2.00</div>
           <div class="buttons">
              <a href="#" class="buy">buy now</a>
              <a href="#" class="cart">add to cart</a>
           </div>
        </div>
     
        <div class="preview" data-target="p-2">
           <i class="fas fa-times"></i>
           <img src="images/2.png" alt="">
           <h3>organic onions</h3>
           <div class="stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
              <span>( 250 )</span>
           </div>
           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, dolorem.</p>
           <div class="price">$2.00</div>
           <div class="buttons">
              <a href="#" class="buy">buy now</a>
              <a href="#" class="cart">add to cart</a>
           </div>
        </div>
     
        <div class="preview" data-target="p-3">
           <i class="fas fa-times"></i>
           <img src="images/3.png" alt="">
           <h3>organic tomatoes</h3>
           <div class="stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
              <span>( 250 )</span>
           </div>
           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, dolorem.</p>
           <div class="price">$2.00</div>
           <div class="buttons">
              <a href="#" class="buy">buy now</a>
              <a href="#" class="cart">add to cart</a>
           </div>
        </div>
     
        <div class="preview" data-target="p-4">
           <i class="fas fa-times"></i>
           <img src="images/4.png" alt="">
           <h3>organic brinjal</h3>
           <div class="stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
              <span>( 250 )</span>
           </div>
           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, dolorem.</p>
           <div class="price">$2.00</div>
           <div class="buttons">
              <a href="#" class="buy">buy now</a>
              <a href="#" class="cart">add to cart</a>
           </div>
        </div>
     
        <div class="preview" data-target="p-5">
           <i class="fas fa-times"></i>
           <img src="images/5.png" alt="">
           <h3>organic broccoli</h3>
           <div class="stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
              <span>( 250 )</span>
           </div>
           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, dolorem.</p>
           <div class="price">$2.00</div>
           <div class="buttons">
              <a href="#" class="buy">buy now</a>
              <a href="#" class="cart">add to cart</a>
           </div>
        </div>
     
        <div class="preview" data-target="p-6">
           <i class="fas fa-times"></i>
           <img src="images/6.png" alt="">
           <h3>organic potatoes</h3>
           <div class="stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
              <span>( 250 )</span>
           </div>
           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, dolorem.</p>
           <div class="price">$2.00</div>
           <div class="buttons">
              <a href="#" class="buy">buy now</a>
              <a href="#" class="cart">add to cart</a>
           </div>
        </div>
     
     
</div>
</div>




   
<!--
<script>
gsap.registerPlugin(ScrollTrigger);

gsap.utils.toArray(".cards").forEach((row) => {
  const tl = gsap.timeline();
  const cards = row.querySelectorAll(".card");
  const title = row.parentNode.querySelector(".page-section__title");

  ScrollTrigger.create({
    trigger: row,
    start: "+=200px bottom",
    animation: tl
      .to(title, {
        duration: 0.5,
        opacity: 1,
        x: 0,
        ease: "back.out(1.4)"
      })
      .to(cards, {
        duration: 1,
        opacity: 1,
        x: 0,
        ease: "elastic.out(1, 0.75)",
        stagger: { axis: "x", each: 0.04 }
      }, "-=0.2")
  });
});

</script>-->
<script>
           $('.menu-toggle').click(function(){
                   $(".nav").toggleClass("mobile-nav");
                   $(this).toggleClass("is-active");
                });
                </script>
                <script>
                  var cardsModule = (function() {
  var trigger = $(".item"),
    closetrigger = $(".item span.close");

  var animateCard = function() {
    $(this).addClass("animate");
  };

  var closeCard = function(e) {
    console.log($(this)
      .parent())
    $(this)
      .parent()
      .removeClass("animate");
    e.stopPropagation();
  };

  trigger.on("click", animateCard);
  closetrigger.on("click", closeCard);
})();

                </script>
                <script>
             var data = [
             {
    id: "0",
    parent: "",
    name: " ",
    color: "#FFFFFF"
  },
  {
    id: "R",
    parent: "0",
    name: "Academia",
    color: "#905cc4"
  },
  {
    id: "U",
    parent: "0",
    name: "Schools",
    color:"#7fe87b"
  },
  
  {
    id: "V",
    parent: "0",
    name: "Adults",
    color:"#e87be6"
  },
  {
    id: "X",
    parent: "0",
    name: "colleges",
    color:"#f5fc88"
  },
  {
    id: "Y",
    parent: "0",
    name: "Public",
    color:"#f09567"
  },
  {
    name: "Synbio conclave",
    parent: "R",
    value: 260
  },
  {
    name:"depression discussion",
    parent:"R",
    value: 125
  },
  {
    name:"Lekha maam talk",
    parent:"R",
    value: 55
  },
  /*{
    id: "RO",
    name: "Others",
    parent: "R",
    color: "#FFFFFF"
  },*/
  {
    name: "VVM",
    parent: "U",
    value: 325
  },
  {
    name: "2 Schools",
    parent: "U",
    value: 210
  },
  {
    name: "Yusuf Hamied",
    parent: "U",
    value: 75
  },
  
  {
    name: "Dart Game",
    parent: "X",
    value: 90
  },
  {
    name: "Queer science quiz",
    parent: "X",
    value: 55
  },
  {
    name: "Synbiokalam",
    parent: "X",
    value: 35
  },
  {
    name: "Rhetor stall",
    parent: "X",
    value: 140
  },
  {
    name: "Dr.Krishnan",
    parent: "X",
    value: 90
  },
  {
    name: "Meet and greet",
    parent: "X",
    value: 35
  },
  {
    name: "Masters students outreach",
    parent: "X",
    value: 90
  },
  {
    name: "Technopark",
    parent: "V",
    value: 275
  },
  {
    name: "Kudumbashree",
    parent: "V",
    value: 65
  },
  {
    name: "Old age homes",
    parent: "V",
    value: 30
  },
  {
    name: "Spiti trip",
    parent: "Y",
    value: 40
  },
  {
    name: "Podcast",
    parent: "Y",
    value: 200
  },
  {
    name: "ITM",
    parent: "Y",
    value: 200
  },
  {
    name: "Mythbusting",
    parent: "Y",
    value: 200
  },
  {
    name: "Streetplay",
    parent: "Y",
    value: 190
  }
];

Highcharts.setOptions({
  colors: ["#ecb37c", "#ECE100"]
});
Highcharts.chart("container10", {
  chart: {
    height: "100%"
  },

  title: {
    text: "iGEM IISERTVM Outreach Impact"
  },
  credits: {
     enabled: false
     },
  subtitle: {
    text:
      'Source: <a href="https://www.iihs.org/topics/fatality-statistics/detail/urban-rural-comparison">Insurance Institute for Highway Safety </a>'
  },
  series: [
    {
      type: "sunburst",
      data: data,
      allowDrillToNode: true,
      cursor: "pointer",
      borderWidth: 3,
      borderColor: "#000000",
      dataLabels: {
        format: "{point.name}",
        filter: {
          property: "innerArcLength",
          operator: ">",
          value: 16
        },
        style: {
          textOutline: false,
          color: "#000000"
        }
      },
      levels: [
        {
          level: 1,
          levelIsConstant: false,
          dataLabels: {
            filter: {
              property: "outerArcLength",
              operator: ">",
              value: 64
            }
          }
        },
        {
          level: 2,
          colorByPoint: true
        },
        {
          level: 3,
          colorVariation: {
            key: "brightness",
            to: -0.5
          }
        },
        {
          level: 4,
          colorVariation: {
            key: "brightness",
            to: 0.5
          }
        }
      ]
    }
  ],
  tooltip: {
    headerFormat: "",
    pointFormat: "The population of <b>{point.name}</b> is <b>{point.value}</b>"
  }
});
                </script>
            
{% endblock %}
