{% extends "layout.html" %}
  
{% block title %}Hardware{% endblock %}
{% block lead %}Hardware in iGEM should make synthetic biology based on standard parts easier, faster, better, or more accessible to our community.{% endblock %}

{% block page_content %}
    

<tag>

</tag>

<div class="cointainer my-4 mx-4">
  <div class="row">

    <div class="col-3">
      <ul class=" fixed-content" id="sidenav">
        <ul class="navbar-links menuprop">
          <li class="navbar-dropdown list-group-item list-group-item-action">
            <a href="#head1" style="color: black;">Overview</a>
          </li>
          <li class="navbar-dropdown list-group-item list-group-item-action">
            <a href="#head2" style="color: black;">Design</a>
          </li>
          <li class="navbar-dropdown list-group-item list-group-item-action">
            <a href="#head3" style="color: black;">Basic principle</a>
          </li>
          <li class="navbar-dropdown list-group-item list-group-item-action">
            <a href="#head4" style="color: black;">Testing</a>
          </li>
          <li class="navbar-dropdown list-group-item list-group-item-action">
            <a href="#head5" style="color: black;">Summary of working prototype</a>
          </li>
          <li class="navbar-dropdown list-group-item list-group-item-action">
            <a href="#head6" style="color: black;">References</a>
          </li>

        </ul>
      </ul>
    </div>



    <div data-bs-target="sidenav" data-bs-spy="scroll" class="col-9" style="padding-top: 20px">
      <div class="container a-href-fix" data-bs-spy="scroll" data-bs-offset="-200px">

        <!--intro-->
        <hr class="line">
        <h1 id="head1" style="color: #002147">Overview</h1>
        <hr class="line">
        <br>
        <p>
          
          Major depressive disorder (MDD) is a complex, multifactorial,
          and heterogeneous clinical syndrome that currently affects 
          at least 120 million people worldwide and, by 2030, will be 
          the single highest contributor to the global disease burden <sup><a href="#ref1">[1]</a></sup>. 
          The currently commercially available diagnostic methods for 
          depression are either self-report questionnaires and clinical
          interviews, which can be subjective and prone to variability  <sup><a href="#ref2">[2]</a></sup>,
          or techniques like spinal tapping, which are inaccessible,
          unaffordable and invasive. Millions of people with depression 
          suffer because they do not have access to professional help
          that starts with a diagnosis. Our project Oasys, is a 
          'Blood-biomarker-based diagnostic kit' for MDD. 
          Oasys can objectively measure biological markers associated with MDD, 
          such as  neurotransmitters, microRNAs, hormones and the proteins. 
          Our approach will reduce the dependence on self-reported symptoms
          and improve the accuracy of diagnosis <sup><a href="#ref3">[3]</a></sup>.
          </p>

           <a id="head2"></a>
        <p></p>
        <br>
        <hr class="line">
        <h1 id="head2" style="color: #002147">Design</h1>
        <hr class="line">
        <br>
        <p>

        In the early ideation process for iGEM, 
        our team kept running into multiple news 
        stories about the increasing suicide rates
        in higher educational institutions across
        India <sup><a href="#ref4">[4]</a></sup>
        <sup><a href="#ref5">[5]</a></sup>.
        Depression is one of the 
        leading causes of suicide in India and
        across the world <sup><a href="#ref6">[6]</a></sup>,
        and the shocking statistics we encountered prompted us to 
        better understand the root cause of this phenomenon.
        </p>
        <p>
          One of our team members then opened up about their struggle with depression. 
          They recounted their multiple inconclusive doctor visits and difficulty in receiving 
          a proper diagnosis. Learning about the process of diagnosing depression, we learned 
          about the shortcomings of the current methods. We noticed that the only commercially 
          available diagnostic tools for depression are self-report questionnaires, clinical 
          interviews, or invasive techniques such as spinal tapping, which are not feasible 
          and unaffordable to a notable percentage of society.

             </p>
             <p>
              We consulted three professional psychiatrists from the Government Medical College, 
              Thiruvananthapuram, Kerala, India to better understand the scale of the issue.
              Psychiatrists told us about how often they meet patients who confess to 
              trying to manipulate the questionnaires for fear of being diagnosed with depression.
              They spoke about the stigma associated with mental illnesses, particularly depression.
              Interactions with peers who were diagnosed with depression brought to light their 
              dissatisfaction with the existing methods. All this strengthened our motivation 
              to fulfill the need for a reliable and comprehensive diagnostic test for depression.
             </p>
           <a id="head2"></a>
        <p></p>
        <br>
        <hr class="line">
        <h1 id="head3" style="color: #002147">Basic principle</h1>
        <hr class="line">
        <br>
        <p>

          The COVID-19 pandemic has profoundly impacted mental health globally.
          The pandemic has revealed that mental health and psychological care support
           is vitiated by a scarcity of resources and inadequate information. 
           Following the COVID-19 pandemic, the global prevalence of anxiety and 
           depression increased by a massive 25%, according to a scientific brief 
           released by the World Health Organization (WHO)<sup><a href="#ref7">[7]</a></sup>. 
             Isolation, grief, 
             economic challenges, and uncertainties related to the pandemic have 
             increased the risk of depression and exacerbated existing mental health 
             conditions. A recent study found that during the COVID-19 pandemic; in Kerala, 
             depression was a major problem faced by people under home quarantine (75.2%), 
             followed by stigma (69.5%) and anxiety (69.4%) <sup><a href="#ref8">[8]</a></sup>. 
             The growing burden of chronic diseases, declining social capital and
              greater inequality and loneliness are central to rising rates of depression.
               The Kerala state report of the National Mental Health Survey reported an overall 
               prevalence of mental disorders of 11.36% <sup><a href="#ref9">[9]</a></sup>. 
               The National Crime Records Bureau reported that the overall incidence rate 
               of suicide per 100,000 persons in Kerala was 23.5, which is double the 
               national rate <sup><a href="#ref10">[10]</a></sup>. 
               The number of individuals with mental health illnesses in the state increased 
               from 272 people per 100,000 to 400 people per 100,000 from 2002 to 2018 <sup><a href="#ref11">[11]</a></sup>. 
               Kerala experienced a rapid rise in mental health morbidity in the last decade. 
               The state's most recently reported human health resource and infrastructure 
               availability appears inadequate to cater to mental healthcare requirements, 
               even as improvements and upgrades are underway.
           <a id="head3"></a>
        </p>
        <br>

        <hr class="line">
        <h1 id="head4" style="color: #002147">Testing
        </h1>
        <hr class="line">
        <br>
        <p>

          <a id="head4"></a>
          Despite the prevalence of mental illness, progress in 
          developing accurate diagnostics has been slow. Some laboratory
           tests are available for the diagnosis of depression however they 
           are unviable due to high cost or slow results<sup><a href="#ref12">[12]</a></sup>. The dexamethasone 
           suppression test (DST) is one such diagnostic blood test that measures 
           the suppression of the adrenocorticotropic hormone (ACTH), 
           which regulates the glucocorticoid stress hormone cortisol. 
           However, it is not commonly used due to its non-specificity, poor sensitivity and non-suppression.
           <sup><a href="#ref13">[13]</a></sup>. Cerebrospinal fluid (CSF) analysis is 
           another procedure used to diagnose depression. However, it is not 
           extensively used as it is invasive, expensive, and there is a 
           high risk of infection<sup><a href="#ref14">[14]</a></sup>. 
           We realised that one single biomarker cannot accurately diagnose 
           a disorder as heterogeneous as MDD and that there is a need for 
           a non-invasive, sensitive and reliable point-of-care diagnostics 
           for depression. We intend to use the potential of synthetic biology 
           to create unique and efficient quantitative approaches for properly 
           determining biomarker plasma levels and producing a trustworthy and 
           readable final result.
        <p></p>
        <br>
        <hr class="line">
        <h1 id="head5" style="color: #002147">Summary of working prototype</h1>
        <hr class="line">
          <a id="head4"></a>
          Despite the prevalence of mental illness, progress in 
          developing accurate diagnostics has been slow. Some laboratory
           tests are available for the diagnosis of depression however they 
           are unviable due to high cost or slow results<sup><a href="#ref12">[12]</a></sup>. The dexamethasone 
           suppression test (DST) is one such diagnostic blood test that measures 
           the suppression of the adrenocorticotropic hormone (ACTH), 
           which regulates the glucocorticoid stress hormone cortisol. 
           However, it is not commonly used due to its non-specificity, poor sensitivity and non-suppression.
           <sup><a href="#ref13">[13]</a></sup>. Cerebrospinal fluid (CSF) analysis is 
           another procedure used to diagnose depression. However, it is not 
           extensively used as it is invasive, expensive, and there is a 
           high risk of infection<sup><a href="#ref14">[14]</a></sup>. 
           We realised that one single biomarker cannot accurately diagnose 
           a disorder as heterogeneous as MDD and that there is a need for 
           a non-invasive, sensitive and reliable point-of-care diagnostics 
           for depression. We intend to use the potential of synthetic biology 
           to create unique and efficient quantitative approaches for properly 
           determining biomarker plasma levels and producing a trustworthy and 
           readable final result.
        <p></p>
        <br>
        <hr class="line">
        <h1 id="head10" style="color: #002147">References</h1>
        <hr class="line">
        <br>
      </div>
    </div>
  </div>
</div>


  </div>

<div class="row mt-4">
  <div class="col">
    <div class="bd-callout bd-callout-info">
      <h4>Best Hardware</h4>
      <p>This is a prize for the team that has developed a piece of hardware for synthetic biology. Hardware in iGEM should make synthetic biology based on standard parts easier, faster, better or more accessible to our community. Did your team make a sensor to help teams characterize parts? Did you make a robot that can help teams perform experiments or do cloning more easily? Tell us what your team did for this award!</p>
      <p>To compete for the Best Hardware prize, please describe your work on this page and also fill out the description on the <a href="https://competition.igem.org/deliverables/judging-form">judging form</a>.</p>
      <hr>
      <p>Please see the <a href="https://competition.igem.org/judging/awards">2023 Awards Page</a> for more information.</p>
    </div>
  </div>
</div>


<div class="row mt-4">
  <div class="col-lg-8">
    <h2>Overview</h2>
    <hr>
    <p>In addition to encouraging teams to work with DNA parts and build biological devices in the lab, iGEM also encourages other types of technical solutions for synthetic biology. This can include physical devices (hardware) related to robotic assembly, microfluidics, low-cost measurement devices, to name a few examples. There are many exciting opportunities for hardware innovation in synthetic biology.</p>
  </div>
  <div class="col-lg-4">
    <h2>Inspirations</h2>
    <hr>
    <ul>
      <li><a href="http://2018.igem.org/Team:Valencia_UPV/Hardware">2018 Valencia UPV</a></li>
      <li><a href="http://2018.igem.org/Team:Unesp_Brazil/Hardware">2018 Unesp Brazil</a></li>
      <li><a href="https://2019.igem.org/Team:BIT/Hardware">2019 BIT</a></li>
      <li><a href="https://2019.igem.org/Team:Bielefeld-CeBiTec/Hardware">2019 Bielefeld CeBiTec</a></li>
      <li><a href="https://2019.igem.org/Team:Nanjing-China/Hardware">2019 Nanjing China</a></li>
      <li><a href="https://2020.igem.org/Team:Vilnius-Lithuania/Hardware">2020 Vilnius Lithuania</a></li>
      <li><a href="https://2020.igem.org/Team:Aachen/Hardware">2020 Aachen</a></li>
      <li><a href="https://2020.igem.org/Team:ZJUT_China_B/Hardware">2020 ZJUT China B</a></li>
    </ul>
  </div>
</div>

{% endblock %}
