{% extends "layout.html" %}
  
{% block title %}Implementation{% endblock %}
{% block lead %} {% endblock %}

{% block page_content %}
<!--
<div class="row mt-4">
  <div class="col">
    <div class="bd-callout bd-callout-info">
      <h4>Best Hardware</h4>
      <p>This is a prize for the team that has developed a piece of hardware for synthetic biology. Hardware in iGEM should make synthetic biology based on standard parts easier, faster, better or more accessible to our community. Did your team make a sensor to help teams characterize parts? Did you make a robot that can help teams perform experiments or do cloning more easily? Tell us what your team did for this award!</p>
      <p>To compete for the Best Hardware prize, please describe your work on this page and also fill out the description on the <a href="https://competition.igem.org/deliverables/judging-form">judging form</a>.</p>
      <hr>
      <p>Please see the <a href="https://competition.igem.org/judging/awards">2023 Awards Page</a> for more information.</p>
    </div>
  </div>
</div>


<div class="row mt-4">
  <div class="col-lg-8">
    <h2>Overview</h2>
    <hr>
    <p>In addition to encouraging teams to work with DNA parts and build biological devices in the lab, iGEM also encourages other types of technical solutions for synthetic biology. This can include physical devices (hardware) related to robotic assembly, microfluidics, low-cost measurement devices, to name a few examples. There are many exciting opportunities for hardware innovation in synthetic biology.</p>
  </div>
  <div class="col-lg-4">
    <h2>Inspirations</h2>
    <hr>
    <ul>
      <li><a href="http://2018.igem.org/Team:Valencia_UPV/Hardware">2018 Valencia UPV</a></li>
      <li><a href="http://2018.igem.org/Team:Unesp_Brazil/Hardware">2018 Unesp Brazil</a></li>
      <li><a href="https://2019.igem.org/Team:BIT/Hardware">2019 BIT</a></li>
      <li><a href="https://2019.igem.org/Team:Bielefeld-CeBiTec/Hardware">2019 Bielefeld CeBiTec</a></li>
      <li><a href="https://2019.igem.org/Team:Nanjing-China/Hardware">2019 Nanjing China</a></li>
      <li><a href="https://2020.igem.org/Team:Vilnius-Lithuania/Hardware">2020 Vilnius Lithuania</a></li>
      <li><a href="https://2020.igem.org/Team:Aachen/Hardware">2020 Aachen</a></li>
      <li><a href="https://2020.igem.org/Team:ZJUT_China_B/Hardware">2020 ZJUT China B</a></li>
    </ul>
  </div>
</div>
-->
<div class="cointainer my-4 mx-4">
  <div class="row">

    <div class="col-3">
      <ul class=" fixed-content font-acc" id="sidenav" >
        <ul class="navbar-links menuprop">
          <li class="navbar-dropdown list-group-item list-group-item-action">
            <a href="#head1" style="color: black;">Introduction</a>
          </li>
          <li class="navbar-dropdown list-group-item list-group-item-action">
            <a href="#head2" style="color: black;">Background</a>
          </li>
          <li class="navbar-dropdown list-group-item list-group-item-action">
            <a href="#head3" style="color: black;">End User Analysis</a>
          </li>
          <li class="navbar-dropdown list-group-item list-group-item-action">
            <a href="#head4" style="color: black;">Optimising OASYS</a>
          </li>
          <li class="navbar-dropdown list-group-item list-group-item-action">
            <a href="#head5" style="color: black;">Safety and Ethics</a>
          </li>
          <li class="navbar-dropdown list-group-item list-group-item-action">
            <a href="#head6" style="color: black;">Future directions</a>
          </li>
          
          <li class="navbar-dropdown list-group-item list-group-item-action">
            <a href="#head7" style="color: black;">Challenges</a>
          </li>
          
    
        </ul>
      </ul>
    </div>

    <div data-bs-target="sidenav" data-bs-spy="scroll" class="col-9" style="padding-top: 20px">
      <div class="container a-href-fix" data-bs-spy="scroll" data-bs-offset="-200px">

        <!--intro-->
        <hr class="line">
        <h1 class = "font-head" id="head1" style="color: #002147">Introduction</h1>
        <hr class="line">
        <br>
        <p>
          
          
          <a href="human-practices.html#!S">In this page,</a> we present how we envision OASYS in the real world - the proposed implementation, and most importantly, the proposed end users. 
          Along each step of the project, we consulted professionals across fields to ensure the conscientious and efficacious deployment of OASYS in practice. Keeping in line with this thought, we also discuss how the device can be curated to be used by different sectors under End User Analysis. 
          We also briefly touch upon the opportunity of commercialization of the project, more details of which can be found under the entrepreneurship section.
            

      <!--    <figure>
            <img src = "https://static.igem.wiki/teams/4693/wiki/assets/info1.png" class= "img-fluid" > 
            <i><span style ="font-size: x-small;"><figcaption>Figure 1 : Trends in mental health morbidity in Kerala, India and around the world from 2002 - 2018 Joseph, J., Hari Sankar, D., & Nambiar, D. (2021). 
              The burden of mental health illnesses in Kerala: a secondary analysis of reported data from 2002 to 2018. 
              <a href = "https://doi.org/10.1186/s12889-021-12289-0">https://doi.org/10.1186/s12889-021-12289-0</a></figcaption></span></i>
            </figure>-->
           <a id="head2"></a>
        </p>
        <br>
        <hr class="line">
        <h1 class = "font-head" id="head2" style="color: #002147">Background</h1>
        <hr class="line">
        <br>
        <p>

          As part of our commitmеnt to fostеring collaboration and promoting wеll-bеing within thе iGEM community,
           wе еxtеndеd an opеn invitation to all participating tеams to join us in cеlеbrating Yoga Day. 
           Wе еncouragеd tеams from divеrsе cornеrs of thе globе to sеnd us vidеos of thеir mеmbеrs еngaging in 
           yoga sеssions. Thеsе vidеos wеrе compilеd into a captivating rееl, 
           which wе proudly sharеd on our Instagram platform (put link). 
           Whilе it is еssеntial to work, wе rеcognizеd thе importancе of focusing on 
           mеntal wеll-bеing and allеviating strеss. It is wеll-documеntеd that activitiеs 
           likе yoga and еxеrcisе havе a positivе impact on mеntal hеalth. 
           This collaborativе initiativе aimеd to еmphasizе thе significancе of sеlf-carе during
            our sharеd journеy in this compеtition. Wе bеliеvе that by nurturing our mеntal hеalth, 
            wе can furthеr еnhancе our crеativity and problеm-solving abilitiеs, 
            ultimatеly contributing to thе advancеmеnt of sciеncе and thе bеttеrmеnt of sociеty.
        </p>

        <br>
        <hr class="line">
        <h1 class = "font-head" id="head3" style="color: #002147">End User Analysis</h1>
        <hr class="line">
        <br>
        
        <p>

We realized the importance of having a human-centric approach to developing our product design so that it can benefit people who need it the most - MDD patients. We interacted with several people who had experienced depressive episodes or been diagnosed with MDD and other mental illnesses to gain insight into what a good diagnosis tool should look like throughout our project journey. 

However, OASYS is not a home-based tool. Instead, it is aimed at clinicians and other Mental Health Professionals. Having recognized various other applications for our tool (find our iHP story here!), in both research and pharmaceutical fields, we ensured to consider the potentials and the challenges of OASYS in the real world by discussing our project with various psychiatrists, psychologists, neuroscientists, and pharmacological experts. 
<br>
<br>What do the patients want?<br>
Through our surveys and outreach activities, we connected with people who have been diagnosed with MDD to understand what they would want from a tool that analyses biomarker levels to screen for MDD. We reached out to MDD patients through our survey, which received 25 responses.
<br> 48% of the patients believe that the diagnosis process was time-consuming 
<br>64% of the patients agreed that the main reason for the financial difficulties during the diagnosis process was due to the limited availability of accessible mental health services. 
<br>72% of the patients say that there may not be any data privacy-related problems with a blood test for the diagnosis.
<br>60% of the patients feel like a blood-based tool that can analyze fluctuating biomarker levels would make a real difference in their lives. An objective tool can help solidify the fact that MDD is in fact real. 
<br>48% of the patients think that a solid diagnosis would make a difference in their social life, making it easier for them to explain to people about MDD. 
<br>60% of the patients confirm that a blood-based diagnostic tool will bring positive changes to the work environment, by reducing the stigma around depression, acknowledging it as a real disease with physical symptoms and helping avail timely treatment
<br>Overall, 72% of the patients feel like the experience of diagnosis and living with an invisible disability like MDD can be made better with increased mental health awareness and education 

<br>
<p>OASYS as a diagnostic tool <br>
Our goal with OASYS is to make an objective and sensitive Point of Care Testing (PoCT) tool that can aid the process of MDD diagnosis. Its user-friendly and accessible design lends itself the potential to be an effective diagnostic aid.

The current biomarkers chosen by us are putative and not validated by any clinical trials except for literature data. Once the reliability of the chosen biomarkers is established, the next step would be to find out the specific threshold blood levels for each biomarker through subsequent clinical trials, Thus, slowly but surely, OASYS can be integrated into current process of MDD diagnosis as an effective objective aid. Our tool is meant to benefit MDD patients.

However, OASYS is not a home-based tool. Instead, it is aimed at clinicians and other Mental Health Professionals, intended to complement the current diagnostic methods. In no way is OASYS meant to be a self-diagnostic tool. Rather, the analysis of readings given by the chip can only be done by clinicians. This avoids any misuse of the chip considering the lack of awareness and sensitivity around mental illnesses. 
</p>
<p>However, OASYS is more than just a diagnostic tool.</p>
<br>
<br>
<p>
OASYS as a research tool 
<br>
As mentioned earlier, one of the primary problems we faced during the background research of our project was the severe lack of data regarding blood biomarkers related to mental health illnesses. Since more data needs to be collected to establish the correlation between the biomarkers and MDD, the initial  users of our tool would be the scientific community.
Talking to Dr Srikumar from NIMHANS, we realized that OASYS can help build biomarker data that can help in scientific research advancements in the field of psychiatric illnesses. It can also help in novel drug development of antidepressants for MDD. Biomarker researchers, psychopharmacologists, clinical and psychiatry researchers can use our tool to help with research in their fields. Dr Varsha Singh, a cognitive psychologist from IIT Delhi, mentioned how “Biomarker research in mental illnesses needs to catch up”. In line with that goal, data collection through clinical trials and population studies can be made easier with the help of OASYS. Analysis of these could reveal the potential of each biomolecule as a biomarker for MDD. 
Our microfluidic device is not just a solution to misdiagnosis, but hopefully a catalyst for future groundbreaking research. <br>
</p>
<p>
OASYS as a prognostic tool <br>
A person’s blood biomarker levels could be easily plotted using a tool like OASYS. Understanding and studying the biomarker profile of individuals diagnosed with Major Depressive Disorder (MDD) opens up the opportunity to tailor precise antidepressant treatment strategies for patients. This will considerably diminish reliance on trial-and-error approaches by the physician, as pointed out to us by Dr Srikumar, consequently aiding the paradigm shift toward personalized medicine.
</p>
<br>
<p>
OASYS for antidepressant tracking
<br>
The assessment of the response and efficacy of antidepressant treatment in Major Depressive Disorder (MDD) patients can be conducted by analyzing changes in biomarker levels within the blood. This would entail undergoing multiple microfluidic blood assays over a specific prescription period. This analytical approach shifts the focus from behavioral changes to analyzing biological alterations, providing a more nuanced and objective evaluation of treatment outcomes.
</p>

             <a id="head3"></a>
        </p>
        <br>

        <hr class="line">
        <h1 class = "font-head" id="head4" style="color: #002147">Optimising OASYS</h1>
        <hr class="line">
        <br>
        <p>

          <a id="head4"></a>
          As mentioned in the TRL analysis of our project, we are currently at TRL level - 
          There were a lot of things we planned to do that we weren't able to do due to time, financial, and competition constraints. However, talking to relevant stakeholders like Anvaya Biotech and  Vidcare Innovations boosted our spirits to keep working on OASYS even after the iGEM competition since it would be a start of, or at least be a catalyst in the field of PoCT in mental healthcare. We realized that the preliminary design of the device proposed for the competition will have to undergo several optimizations to comply with the safety, qualitative and technical requirements. 
        </p>
       
        <br>
        <hr class="line">
        <h1 class = "font-head" id="head5" style="color: #002147">Safety and Ethics</h1>
        <hr class="line">
        <br>
        <p>

          <a id="head5"></a>
          
Our collaboration with thе tеam at IISER Mohali еxtеndеd bеyond 
thе boundariеs of our projеct with a broadеr еxchangе of knowlеdgе and еxpеrtisе. 
Wе wеrе dеlightеd to participatе in thеir manuscript collеction initiativе, 
whеrе wе contributеd a concisе yеt insightful dеscription to еnhancе thе valuе of 
thеir rеsеarch rеpository. This collaborativе еffort allowеd us to know morе about othеr 
iGEM projеcts from this yеar and illustratеd thе spirit of mutual support and 
knowlеdgе sharing that is at thе corе of thе iGEM еthos
 
          </p>
      
        <br>

        <hr class="line">
        <h1 class = "font-head" id="head6" style="color: #002147">Future Directions</h1>
        <hr class="line">
        <br>
        <p>
          
          <a id="head6"></a>

          Wе had thе privilеgе of spеaking at thе prеstigious Global Hеalth Equity 
          Symposium conductеd by thе Michigan tеam, an еvеnt that brought togеthеr minds 
          dеdicatеd to addrеssing critical global hеalth issuеs. This symposium not only 
          sеrvеd as a platform for sharing our projеct but also offеrеd us thе invaluablе 
          opportunity to lеarn from othеr tеams еqually passionatе about thе 
          intеrsеction of hеalth еquity and synthеtic biology. 
          Our participation in this еvеnt allowеd us to еmphasizе a crucial point: 
          truе hеalth еquity еncompassеs both physical and mеntal wеll-bеing. 
          By addrеssing mеntal hеalth issuеs and providing accеssiblе rеsourcеs, 
          wе takе a significant stеp towards lеvеling thе playing fiеld, 
          еnsuring that еvеryonе has an еqual opportunity to thrivе in 
          еvеry aspеct of thеir livеs
          </p>
          
        <br>

        <hr class="line">
        <h1 class = "font-head" id="head7" style="color: #002147">Challenges</h1>
        <hr class="line">
        <br>
        <p>
          Developing a microfluidic biomarker-based diagnostic tool for mental health doesn’t come without a comprehensive set of challenges, spanning technical, administrative, and social domains.

          Technical Challenges:
          <br>
          a) Biomarkers and assays:
          Selecting and validating biomarkers is pivotal. 
          The validation process must extend beyond Cacasian populations to ensure broad applicability. 
          Issues like miRNA stability and assay standardization must be rigorously addressed to guarantee accurate results.
          <br> 
          b) Microfluidic chip:
          Optimizing mixing and sample dispersion on the microfluidic chip is crucial, emphasizing cost-effectiveness in mass production. Sustainable material use and waste disposal methods are also key considerations for environmental impact.
          <br>
          c) Fluorimeter:
          enhancing sensitivity and specificity of the fluorimeter, along with seamless integration between the chip and sensors, demands meticulous attention. Calibration procedures and quality control measures are essential for reliable results.
          <br>
          d) Data Collection:
          Integrating machine learning (ML) into data collection processes is imperative for scalability and efficiency, allowing for large-scale analysis of diverse datasets.
          <br>
          Administrative Challenges:
          
         <br>
          a) Regulations:
          Navigating regulatory requirements, including the establishment and continuous oversight of an ethics committee, certification acquisition, and quality control measures, is a persistent challenge.
          <br>
          b) User Training:
          Ensuring comprehensible instructions in multiple languages and thorough user training is vital. Ongoing user support from the development team is necessary for effective implementation.
          <br>
          c) Product:
          Conducting thorough market research to understand potential applications is essential. Tailoring marketing and pricing strategies, conducting risk assessments, and anticipating market demands are integral aspects of successful produtc management.
         <br>
          d) Scaling Business:
          Handling increased demand requires adept resource management and allocation, addressing supply chain logistics, organizing customer support, and establishing robust revenue streams.
          <br>
          e) IP and Patents:
          Developing a strategic approach for IP and patent filings, including trademark protection, due diligence, and licensing agreements, is critical for protecting intellectual property.
          <br>
          Social Challenges:
          <br>
          a) Data Management and Privacy:
          Safeguarding sensitive data involves stringent security measures, adherence to legal and ethical requirements, defining data retention periods, obtaining patient consent, and prioritizing patient privacy.
          <br>
          b) Education:
          Addressing the stigma associated with mental health requires a concerted effort in education and sensitivity training, both within the user community and the broader public.
          <br>
          
          In summary, overcoming the challenges in this ambitious project demands a synergistic approach, combining technical innovation, meticulous administrative planning, and a keen understanding of social dynamics. As the project progresses, continuous adaptation, collaboration, and a commitment to ethical and inclusive practices will be essential to realize the full potential of OASYS.
          
          
          
          
          
          

        </p>
        
          <hr class="line">
          <h1 class = "font-head" id="head8" style="color: #002147">McGill</h1>
          <hr class="line">
          <br>
          <p>

          </p><br>
           
</div>
</div>
</div>
</div>
{% endblock %}
