{% extends "layout.html" %}
  
{% block title %}Model{% endblock %}
{% block lead %}Explain your model's assumptions, data, parameters, and results in a way that anyone could understand.{% endblock %}

{% block page_content %}

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/networkgraph.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>

<div id="bayesian-container"></div>

<div class="row mt-4">
  <div class="col">
    <div class="bd-callout bd-callout-info">
      <h4>Best Model</h4>
      <p>Models and computer simulations provide a great way to describe the functioning and operation of BioBrick Parts and Devices. Synthetic biology is an engineering discipline and part of engineering is simulation and modeling to determine system behavior before building your design. Designing and simulating can be iterated many times in a computer before moving to the lab. This award is for teams who build a model of their system and use it to inform system design or simulate expected behavior before or in conjunction with experiments in the wetlab.</p>
      <p>To compete for the Best Model prize, please describe your work on this page and also fill out the description on the <a href="https://competition.igem.org/deliverables/judging-form">judging form</a>.</p>
      <hr>
      <p>Please see the <a href="https://competition.igem.org/judging/awards">2023 Awards Page</a> for more information.</p>
    </div>
  </div>
</div>

<div class="row mt-4">
  <div class="col-lg-8">
    <h2>Overview</h2>
    <hr>
    <p>Mathematical models and computer simulations provide a great way to describe the function and operation of Parts and Devices. Synthetic Biology is an engineering discipline, and part of engineering is simulation and modeling to determine the behavior of your design before you build it. Designing and simulating can be iterated many times in a computer before moving to the lab.</p>
  </div>
  <div class="col-lg-4">
    <h2>Inspirations</h2>
    <hr>
    <ul>
      <li><a href="http://2018.igem.org/Team:GreatBay_China/Model">2018 GreatBay China</a></li>
      <li><a href="http://2018.igem.org/Team:Leiden/Model">2018 Leiden</a></li>
      <li><a href="https://2019.igem.org/Team:IISER_Kolkata/Model">2019 IISER Kolkata</a></li>
      <li><a href="https://2019.igem.org/Team:Exeter/Model">2019 Exeter</a></li>
      <li><a href="https://2019.igem.org/Team:Mingdao/Model">2019 Mingdao</a></li>
      <li><a href="https://2020.igem.org/Team:Harvard/Model">2020 Harvard</a></li>
      <li><a href="https://2020.igem.org/Team:Leiden/Model">2020 Leiden</a></li>
    </ul>
  </div>
</div>
<script>
  // Add the nodes option through an event call. We want to start with the parent
// item and apply separate colors to each child element, then the same color to
// grandchildren.
Highcharts.addEvent(
    Highcharts.seriesTypes.networkgraph,
    'afterSetOptions',
    function (e) {
        var colors = Highcharts.getOptions().colors,
            i = 0,
            nodes = {};
        e.options.data.forEach(function (link) {

            if (link[0] === 'Data visualization') {
                nodes['Data visualization'] = {
                    id: 'Data visualization',
                    marker: {
                        radius: 20
                    }
                };
                nodes[link[1]] = {
                    id: link[1],
                    marker: {
                        radius: 10
                    },
                    color: colors[i++]
                };
            } else if (nodes[link[0]] && nodes[link[0]].color) {
                nodes[link[1]] = {
                    id: link[1],
                    color: nodes[link[0]].color
                };
            }
        });

        e.options.nodes = Object.keys(nodes).map(function (id) {
            return nodes[id];
        });
    }
);

Highcharts.chart('container', {
    chart: {
        type: 'networkgraph',
        height: '100%'
    },
    title: {
        text: 'Data visualization'
    },
  
    plotOptions: {
        networkgraph: {
            keys: ['from', 'to'],
            layoutAlgorithm: {
                enableSimulation: true,
                friction: -0.9
            }
        }
    },
    series: [{
        dataLabels: {
            enabled: true,
            linkFormat: ''
        },
        data: [
            ['Temporal', 'Time series(6)'],
            ['Temporal', 'Timeline(4)'],
            ['Temporal', 'Alluvial Diagram (3)'],
            ['Data visualization', 'Temporal'],
            ['Data visualization', 'nD/Multi-Dimensional'],
            ['nD/Multi-Dimensional', 'Line chart(5)'],
            ['nD/Multi-Dimensional', 'Bar chart(3)'],
            ['nD/Multi-Dimensional', 'Bubble chart(4)'],
            ['nD/Multi-Dimensional', 'Heat map(4)'],
            ['nD/Multi-Dimensional', 'Histogram(2)'],
            ['nD/Multi-Dimensional', 'Radar chart (1)'],
            ['nD/Multi-Dimensional', 'Pie charts(3)'],
           ['nD/Multi-Dimensional', 'Box plot(4)'],
           ['nD/Multi-Dimensional', 'Scatter plot(5)'],
           ['Data visualization', 'Tree/Hierarchy'],
           ['Tree/Hierarchy', 'Sunburst chart(1)'],
             ['Tree/Hierarchy', 'tree Map(2)'],
           ['Data visualization', '2-D Planner'],
          ['2-D Planner', 'Choropleth (3)'],
               
          ['Data visualization', 'Network'],
               ['Network', 'Node-link diagram(3)'],
               ['Data visualization', 'Customized  visualization(3)'],
        ]
    }]
});
</script>

{% endblock %}
