{% extends "layout.html" %}

{% block title %}Sponsors{% endblock %}
{% block lead %}{% endblock %}

{% block page_content %}
<!--<div class="container">
  <div class="row">
<div class="sponsorwrapper">
  
    <div class="col-3">
  <div class="parallax-card">
    <div class="parallax-card__holder">
      <div class="parallax-card__front" style="background: url(https://static.igem.wiki/teams/4693/wiki/assets/sponsor-logos/c-six.png) 50% 50% no-repeat;">
        <div class="parallax-card__content"><span class="parallax-card__front-title">C-Six Labs</span></div>
      </div>
      <div class="parallax-card__back">
        <div class="parallax-card__content"><span class="parallax-card__back-descr">What are they? Who are they?</span></div>
      </div>
    </div>
  </div>
  </div>
  <div class="col-3">
  <div class="parallax-card">
    <div class="parallax-card__holder">
      <div class="parallax-card__front" style="background: url(https://i.pinimg.com/originals/c7/5c/6c/c75c6c75494096e28ab71878d06c98d4.jpg) 50% 50% no-repeat;">
        <div class="parallax-card__content"><span class="parallax-card__front-title">Title</span></div>
      </div>
      <div class="parallax-card__back">
        <div class="parallax-card__content"><span class="parallax-card__back-descr">Description</span></div>
      </div>
    </div>
  </div>
  </div>
  <div class = "col-3">
  <div class="parallax-card">
    <div class="parallax-card__holder">
      <div class="parallax-card__front" style="background: url(https://i.pinimg.com/originals/c7/5c/6c/c75c6c75494096e28ab71878d06c98d4.jpg) 50% 50% no-repeat;">
        <div class="parallax-card__content"><span class="parallax-card__front-title">Title</span></div>
      </div>
      <div class="parallax-card__back">
        <div class="parallax-card__content"><span class="parallax-card__back-descr">Description</span></div>
      </div>
    </div>
  </div>
  </div>
  <div class = "col-3">
  <div class="parallax-card">
    <div class="parallax-card__holder">
      <div class="parallax-card__front" style="background: url(https://i.pinimg.com/originals/c7/5c/6c/c75c6c75494096e28ab71878d06c98d4.jpg) 50% 50% no-repeat;">
        <div class="parallax-card__content"><span class="parallax-card__front-title">Title</span></div>
      </div>
      <div class="parallax-card__back">
        <div class="parallax-card__content"><span class="parallax-card__back-descr">Description</span></div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>

<div class="row">
  <div class="col-8">
    <h2>What should this page contain?</h2>
    <hr>
    <ul>
      <li>Include pictures of your teammates, don't forget instructors and advisors!</li>
      <li>You can add a small biography or a few words from each team member, to tell us what you like, and what motivated you to participate in iGEM.</li>
      <li>Take team pictures! Show us your school, your lab and little bit of your city.</li>
      <li>Remember that image galleries can help you showcase many pictures while saving space.</li>
    </ul>
    <div class="bd-callout bd-callout-info"><strong>Important:</strong> Your wiki pages will be archived at the end of the iGEM season and this content will remain online. Please keep this in mind as you post photos and personal information on this page.</div>
  </div>
  <div class="col-4">
    <h2>Inspirations</h2>
    <hr>
    <ul>
      <li><a href="https://2019.igem.org/Team:CU/Team">2019 CU</a></li>
      <li><a href="https://2019.igem.org/Team:UANL/Team">2019 UANL</a></li>
      <li><a href="https://2019.igem.org/Team:William_and_Mary/Team">2019 William and Mary</a></li>
      <li><a href="https://2020.igem.org/Team:BOKU-Vienna/Team">2020 BOKU Vienna </a></li>
      <li><a href="https://2020.igem.org/Team:CAU_China/Team_Member">2020 CAU China</a></li>
      <li><a href="https://2020.igem.org/Team:Lethbridge/Members">2020 Lethbridge</a></li>
    </ul>
  </div>
</div>-->
<h1 class="font-head" style="color: #002147">Our title sponsor</h1>
<div class="container">
  <div class="row">
    <!-- flex-container -->
      <div class="col-md-12 flex-container">
        <!-- flex-item -->
          <div class="flex-item">
            <div class="flex-item-inner">
                <!-- card -->
                <a href="#">
                      <div class="card-front1" style="background-image:url(https://static.igem.wiki/teams/4693/wiki/assets/sponsor-logos/give-foundation.jpg);">
                          <i class="fas fa-wrench fa-3x tile-icon"></i>
                          <h4></h4>
                          <p class="link"></p><i class="fa fa-chevron-circle-right"></i>
                      </div>
                      <div class="card-back1">
                          <p class="title">Give foundation</p>
                          <p class="desc">Give’s mission is to "make giving bigger and better". They are the most trusted giving platform in India. Through their technology solutions and services, they enable individuals and organizations to raise funds for, and donate to any cause they care about, with trust and convenience. Their community of 2.7M+ individual donors and 300+ organizations supports 3,000+ verified nonprofits, serving 15M+ people across the country.</p>
                      </div>
                  </a>
                  <!-- /card -->
              </div>
          </div>
                </div>
      <!-- /flex-container -->
  </div>
</div>


  </div>
<h1 class="font-head" style="color: #002147">Other sponsors</h1>
<div class="container">
  <div class="row">
    <!-- flex-container -->
      <div class="col-md-12 flex-container">
        <!-- flex-item -->
          <div class="flex-item">
            <div class="flex-item-inner">
                <!-- card -->
                <a href="#">
                      <div class="card-front" style="background-image:url(https://static.igem.wiki/teams/4693/wiki/assets/sponsor-logos/idt-logo.png);">
                          <i class="fas fa-wrench fa-3x tile-icon"></i>
                          <h4></h4>
                          <p class="link"></p><i class="fa fa-chevron-circle-right"></i>
                      </div>
                      <div class="card-back">
                          <p class="title">IDT</p>
                          <p class="desc">For more than 35 years, IDT has been enabling genomics laboratories with an oligonucleotide manufacturing process unlike anyone else in the industry, with the most advanced synthesis, modification, purification, and quality control capabilities available.</p>
                      </div>
                  </a>
                  <!-- /card -->
              </div>
          </div>
          <!-- /flex-item -->
          <div class="flex-item">
            <div class="flex-item-inner">
                <!-- card -->
                <a href="#">
                  <div class="card-front" style="background-image:url(https://static.igem.wiki/teams/4693/wiki/assets/sponsor-logos/cell-genix-logo.png);">
                    <i class="fas fa-wrench fa-3x tile-icon"></i>
                    <h4></h4>
                    <p class="link"><i class="fa fa-chevron-circle-right"></i>
                </div>
                      <div class="card-back">
                          <p class="title">Lorem ipsum dolor sit amet</p>
                          <p class="desc">Pellentesque magna nunc, fermentum nec ipsum non, consequat scelerisque dui.</p>
                          </p>
                      </div>
                  </a>
                  <!-- /card -->
              </div>
          </div>
          <div class="flex-item">
            <div class="flex-item-inner">
                <!-- card -->
                <a href="#">
                  <div class="card-front" style="background-image:url(https://static.igem.wiki/teams/4693/wiki/assets/sponsor-logos/c-six.png);">
                    <i class="fas fa-wrench fa-3x tile-icon"></i>
                    <h4></h4>
                    <p class="link"><i class="fa fa-chevron-circle-right"></i>
                </div>
                      <div class="card-back">
                          <p class="title">Lorem ipsum dolor sit amet</p>
                          <p class="desc">Pellentesque magna nunc, fermentum nec ipsum non, consequat scelerisque dui.</p>
                          </p>
                      </div>
                  </a>
                  <!-- /card -->
              </div>
          </div>
          <div class="flex-item">
            <div class="flex-item-inner">
                <!-- card -->
                <a href="#">
                  <div class="card-front" style="background-image:url(https://static.igem.wiki/teams/4693/wiki/assets/sponsor-logos/mibiome-light.jpg);">
                    <i class="fas fa-wrench fa-3x tile-icon"></i>
                    <h4></h4>
                    <p class="link"><i class="fa fa-chevron-circle-right"></i>
                </div>
                      <div class="card-back">
                          <p class="title">Lorem ipsum dolor sit amet</p>
                          <p class="desc">Pellentesque magna nunc, fermentum nec ipsum non, consequat scelerisque dui.</p>
                          </p>
                      </div>
                  </a>
                  <!-- /card -->
              </div>
          </div>
          <div class="flex-item">
            <div class="flex-item-inner">
                <!-- card -->
                <a href="#">
                  <div class="card-front" style="background-image:url(https://static.igem.wiki/teams/4693/wiki/assets/sponsor-logos/snapgene.jpg);">
                    <i class="fas fa-wrench fa-3x tile-icon"></i>
                    <h4></h4>
                    <p class="link"><i class="fa fa-chevron-circle-right"></i>
                </div>
                      <div class="card-back">
                          <p class="title">Lorem ipsum dolor sit amet</p>
                          <p class="desc">Pellentesque magna nunc, fermentum nec ipsum non, consequat scelerisque dui.</p>
                          </p>
                      </div>
                  </a>
                  <!-- /card -->
              </div>
          </div>
          <div class="flex-item">
            <div class="flex-item-inner">
                <!-- card -->
                <a href="#">
                  <div class="card-front" style="background-image:url(https://static.igem.wiki/teams/4693/wiki/assets/sponsor-logos/spectra-labs.jpg);">
                    <i class="fas fa-wrench fa-3x tile-icon"></i>
                    <h4></h4>
                    <p class="link"><i class="fa fa-chevron-circle-right"></i>
                </div>
                      <div class="card-back">
                          <p class="title">Lorem ipsum dolor sit amet</p>
                          <p class="desc">Pellentesque magna nunc, fermentum nec ipsum non, consequat scelerisque dui.</p>
                          </p>
                      </div>
                  </a>
                  <!-- /card -->
              </div>
          </div>
          <div class="flex-item">
            <div class="flex-item-inner">
                <!-- card -->
                <a href="#">
                  <div class="card-front" style="background-image:url(https://static.igem.wiki/teams/4693/wiki/assets/sponsor-logos/twist.png);">
                    <i class="fas fa-wrench fa-3x tile-icon"></i>
                    <h4></h4>
                    <p class="link"><i class="fa fa-chevron-circle-right"></i>
                </div>
                      <div class="card-back">
                          <p class="title">Lorem ipsum dolor sit amet</p>
                          <p class="desc">Pellentesque magna nunc, fermentum nec ipsum non, consequat scelerisque dui.</p>
                          </p>
                      </div>
                  </a>
                  <!-- /card -->
              </div>
          </div>
        
          <!-- flex-item -->
          <div class="flex-item">
            <div class="flex-item-inner">
                <!-- card -->
                <a href="#">
                      <div class="card-front">
                          <i class="fa fas fa-tachometer-alt fa-3x tile-icon"></i>
                          <h4>Customizations</h4>
                          <p class="link">Details <i class="fa fa-chevron-circle-right"></i>
                      </div>
                      <div class="card-back">
                          <p class="title">Vestibulum eget sem malesuada</p>
                          <p class="desc">Etiam imperdiet ullamcorper dolor sit amet molestie. Quisque eu nibh in ligula.</p>
                      </div>
                  </a>
                  <!-- /card -->
              </div>
          </div>
          <!-- /flex-item -->
          
          <!-- flex-item -->
          <div class="flex-item">
            <div class="flex-item-inner">
                <!-- card -->
                  <a href="#">
                      <div class="card-front">
                          <i class="fas fa-clipboard-check fa-3x tile-icon"></i>
                          <h4>Safety Inspections</h4>
                        <p class="link">Details <i class="fa fa-chevron-circle-right"></i>
                      </div>
                      <div class="card-back">
                          <p class="title">Curabitur elementum augue</p>
                          <p class="desc">Nullam porttitor dui quis commodo mattis. Fusce posuere, nisl id ultrices pellentesque.</p>
                      </div>
                  </a>
                  <!-- /card -->
              </div>
          </div>
          <!-- flex-item -->

      </div>
      <!-- /flex-container -->
  </div>
</div>

{% endblock %}
